@using App_Dominio.Repositories
@model DWM.Models.Repositories.InformativoViewModel
@{
    TransacaoRepository[] t = { new TransacaoRepository(), new TransacaoRepository() };
    t[0].url = "../Informativo/Create";
    t[0].nomeCurto = "Incluir";
    t[0].referencia = "";

    t[1].url = "../Home/Default";
}

<link href="../Content/vendors/cropper/dist/cropper.min.css" rel="stylesheet">

<div class="container-cadastro">
    <div class="x_panel">
        @Html.EditorFor(info => Model, "FORMULARIO", new { Brand = "Informativo", Descricao = "Inclusão", Transacao = t })
        <div class="x_content">
            <!-- Smart Wizard -->
            <div id="wizard" class="form_wizard wizard_horizontal">
                <ul class="wizard_steps">
                    <li>
                        <a href="#step-1">
                            <span class="step_no">1</span>
                            <span class="step_descr">
                                Passo 1<br />
                                <small>Dados do informativo</small>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#step-2">
                            <span class="step_no">2</span>
                            <span class="step_descr">
                                Passo 2<br />
                                <small>Formatação da imagem</small>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#step-3" onclick="Preview();">
                            <span class="step_no">3</span>
                            <span class="step_descr">
                                Passo 3<br />
                                <small>Visualizar informativo</small>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#step-4">
                            <span class="step_no">4</span>
                            <span class="step_descr">
                                Passo 4<br />
                                <small>Redigir/enviar e-mail e salvar</small>
                            </span>
                        </a>
                    </li>
                </ul>
                <div id="step-1" class="margem-topo-30">
                    <h2 class="StepTitle">Passo 1 - Dados do informativo</h2>
                    <p>
                        Preencher abaixo o dados do infomativo que será exibido para os condôminos. O informativo será exibido na <strong>Data de publicação</strong> informada e deixará de ser mostrado na <strong>Data de Expiração</strong>.
                        O informativo consiste de um <strong>Título</strong> (texto de até 30 caracteres) bem como de um pequeno <strong>Resumo</strong> de até 3 linhas sobre o assunto abordado.
                    </p>
                    <p>
                        Na página inicial do site, quando o condômino clicar no link <code>Leia Mais >></code> será exibido um formulário suspenso contendo a <strong>Mensagem Detalhada</strong>
                    </p>
                    @using (Html.BeginForm("Create", "Informativo", FormMethod.Post, new { @class = "form-horizontal margem-topo-50" }))
                    {
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        @Html.HiddenFor(info => info.CondominioID)
                        <div class="row">
                            <div class="col-md-2 col-sm-6 col-lg-2 col-xs-6">
                                <div class="form-group">
                                    <label class="control-label">Data Publicação</label>
                                    @Html.Editor("data1", "DATE", new { identificador = "DataPublicacao", value = Model.DataPublicacao, readOnly = "false" })
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-6 col-lg-2 col-xs-6">
                                <div class="form-group">
                                    <label class="control-label">Data Expiração</label>
                                    @Html.Editor("data2", "DATE", new { identificador = "DataExpiracao", value = Model.DataExpiracao, readOnly = "false" })
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12">
                                <div class="form-group">
                                    <label class="control-label">Edificação</label>
                                    @Html.DropDownList("EdificacaoID", new DWM.Models.Enumeracoes.BindDropDownList().Edificacoes("Todas...", "", Model.empresaId), new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12">
                                <div class="form-group">
                                    <label class="control-label">Grupo/Condômino</label>
                                    @Html.DropDownList("GrupoCondominoID", new DWM.Models.Enumeracoes.BindDropDownList().GrupoCondominos("Todos...", "", Model.empresaId), new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
                                        <div class="form-group">
                                            <label class="control-label">Título (até 30 caracteres)</label>
                                            <input type="text" class="form-control" name="Cabecalho" id="Cabecalho" value="@Model.Cabecalho" maxlength="30" onchange="contaCharCabec();" onkeyup="contaCharCabec();" />
                                            <span id="contadorCabec" class="label label-default">@Model.Cabecalho.Length / 30</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
                                        <div class="form-group">
                                            <label class="control-label">Resumo do Informativo (até 500 caracteres)</label>
                                            <input type="hidden" name="Resumo" id="Resumo" value="@Model.Resumo" />
                                            <div id="summernote1">@Model.Resumo</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
                                        <div class="form-group">
                                            <label class="control-label">Texto detalhado do informativo</label>
                                            <input type="hidden" name="MensagemDetalhada" id="MensagemDetalhada" value="@Model.MensagemDetalhada" />
                                            <div id="summernote2">@Model.MensagemDetalhada</div>
                                        </div>
                                    </div>
                                </div>
                    }
                </div>
                <div id="step-2" class="margem-topo-30">
                    <h2 class="StepTitle">Passo 2 - Formatação da imagem</h2>
                    <p>
                        Para dar maior ênfase ao informativo, você pode enviar uma imagem e formata-la de maneira que possa melhor se adaptar no enquadramento do texto.
                    </p>
                    <div class="row margem-topo-50">
                        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12" ">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h2 class="panel-title">
                                        Arquivo de Mídia (página de resumo)
                                    </h2>
                                </div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <input id="fileUploadMidia1" type="file" name="files[]" multiple>
                                        @Html.Hidden("fileMidia1", Model.Midia1)
                                    </div>
                                    <div class="file_name" id="file_name1"></div>
                                    <div class="progress" id="progress1">
                                        <div id="progress1-bar" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                                            <span class="sr-only">0% complete</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h2 class="panel-title">
                                        Arquivo de Mídia (página de detalhe)
                                    </h2>
                                </div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <input id="fileUploadMidia2" type="file" name="files[]" multiple>
                                        @Html.Hidden("fileMidia2", Model.Midia2)
                                    </div>
                                    <div class="file_name" id="file_name2"></div>
                                    <div class="progress" id="progress2">
                                        <div id="progress2-bar" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                                            <span class="sr-only">0% complete</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="col-md-12 col-lg-12">
                            <!-- image cropping -->
                            <div class="container cropper">
                                <div class="row">
                                    <div class="col-md-9">
                                        <!-- <h3 class="page-header">Demo:</h3> -->
                                        <div class="img-container" id="caralho">
                                            <img id="image" src="../Content/images/parcparadiso.png" alt="Picture">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <!-- <h3 class="page-header">Preview:</h3> -->
                                        <div class="docs-preview clearfix">
                                            <div class="img-preview preview-lg"></div>
                                            <div class="img-preview preview-md"></div>
                                            <div class="img-preview preview-sm"></div>
                                            <div class="img-preview preview-xs"></div>
                                        </div>
                                        <!-- <h3 class="page-header">Data:</h3> -->
                                        <div class="docs-data">
                                            <div class="input-group input-group-sm">
                                                <label class="input-group-addon" for="dataX">X</label>
                                                <input type="text" class="form-control" id="dataX" placeholder="x">
                                                <span class="input-group-addon">px</span>
                                            </div>
                                            <div class="input-group input-group-sm">
                                                <label class="input-group-addon" for="dataY">Y</label>
                                                <input type="text" class="form-control" id="dataY" placeholder="y">
                                                <span class="input-group-addon">px</span>
                                            </div>
                                            <div class="input-group input-group-sm">
                                                <label class="input-group-addon" for="dataWidth">Width</label>
                                                <input type="text" class="form-control" id="dataWidth" placeholder="width">
                                                <span class="input-group-addon">px</span>
                                            </div>
                                            <div class="input-group input-group-sm">
                                                <label class="input-group-addon" for="dataHeight">Height</label>
                                                <input type="text" class="form-control" id="dataHeight" placeholder="height">
                                                <span class="input-group-addon">px</span>
                                            </div>
                                            <div class="input-group input-group-sm">
                                                <label class="input-group-addon" for="dataRotate">Rotate</label>
                                                <input type="text" class="form-control" id="dataRotate" placeholder="rotate">
                                                <span class="input-group-addon">deg</span>
                                            </div>
                                            <div class="input-group input-group-sm">
                                                <label class="input-group-addon" for="dataScaleX">ScaleX</label>
                                                <input type="text" class="form-control" id="dataScaleX" placeholder="scaleX">
                                            </div>
                                            <div class="input-group input-group-sm">
                                                <label class="input-group-addon" for="dataScaleY">ScaleY</label>
                                                <input type="text" class="form-control" id="dataScaleY" placeholder="scaleY">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-9 docs-buttons">
                                        <!-- <h3 class="page-header">Toolbar:</h3> -->
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-primary" data-method="setDragMode" data-option="move" title="Move">
                                                <span class="docs-tooltip" data-toggle="tooltip" title="$().cropper(&quot;setDragMode&quot;, &quot;move&quot;)">
                                                    <span class="fa fa-arrows"></span>
                                                </span>
                                            </button>
                                            <button type="button" class="btn btn-primary" data-method="setDragMode" data-option="crop" title="Crop">
                                                <span class="docs-tooltip" data-toggle="tooltip" title="$().cropper(&quot;setDragMode&quot;, &quot;crop&quot;)">
                                                    <span class="fa fa-crop"></span>
                                                </span>
                                            </button>
                                        </div>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-primary" data-method="zoom" data-option="0.1" title="Zoom In">
                                                <span class="docs-tooltip" data-toggle="tooltip" title="$().cropper(&quot;zoom&quot;, 0.1)">
                                                    <span class="fa fa-search-plus"></span>
                                                </span>
                                            </button>
                                            <button type="button" class="btn btn-primary" data-method="zoom" data-option="-0.1" title="Zoom Out">
                                                <span class="docs-tooltip" data-toggle="tooltip" title="$().cropper(&quot;zoom&quot;, -0.1)">
                                                    <span class="fa fa-search-minus"></span>
                                                </span>
                                            </button>
                                        </div>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-primary" data-method="move" data-option="-10" data-second-option="0" title="Move Left">
                                                <span class="docs-tooltip" data-toggle="tooltip" title="$().cropper(&quot;move&quot;, -10, 0)">
                                                    <span class="fa fa-arrow-left"></span>
                                                </span>
                                            </button>
                                            <button type="button" class="btn btn-primary" data-method="move" data-option="10" data-second-option="0" title="Move Right">
                                                <span class="docs-tooltip" data-toggle="tooltip" title="$().cropper(&quot;move&quot;, 10, 0)">
                                                    <span class="fa fa-arrow-right"></span>
                                                </span>
                                            </button>
                                            <button type="button" class="btn btn-primary" data-method="move" data-option="0" data-second-option="-10" title="Move Up">
                                                <span class="docs-tooltip" data-toggle="tooltip" title="$().cropper(&quot;move&quot;, 0, -10)">
                                                    <span class="fa fa-arrow-up"></span>
                                                </span>
                                            </button>
                                            <button type="button" class="btn btn-primary" data-method="move" data-option="0" data-second-option="10" title="Move Down">
                                                <span class="docs-tooltip" data-toggle="tooltip" title="$().cropper(&quot;move&quot;, 0, 10)">
                                                    <span class="fa fa-arrow-down"></span>
                                                </span>
                                            </button>
                                        </div>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-primary" data-method="rotate" data-option="-45" title="Rotate Left">
                                                <span class="docs-tooltip" data-toggle="tooltip" title="$().cropper(&quot;rotate&quot;, -45)">
                                                    <span class="fa fa-rotate-left"></span>
                                                </span>
                                            </button>
                                            <button type="button" class="btn btn-primary" data-method="rotate" data-option="45" title="Rotate Right">
                                                <span class="docs-tooltip" data-toggle="tooltip" title="$().cropper(&quot;rotate&quot;, 45)">
                                                    <span class="fa fa-rotate-right"></span>
                                                </span>
                                            </button>
                                        </div>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-primary" data-method="scaleX" data-option="-1" title="Flip Horizontal">
                                                <span class="docs-tooltip" data-toggle="tooltip" title="$().cropper(&quot;scaleX&quot;, -1)">
                                                    <span class="fa fa-arrows-h"></span>
                                                </span>
                                            </button>
                                            <button type="button" class="btn btn-primary" data-method="scaleY" data-option="-1" title="Flip Vertical">
                                                <span class="docs-tooltip" data-toggle="tooltip" title="$().cropper(&quot;scaleY&quot;, -1)">
                                                    <span class="fa fa-arrows-v"></span>
                                                </span>
                                            </button>
                                        </div>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-primary" data-method="crop" title="Crop">
                                                <span class="docs-tooltip" data-toggle="tooltip" title="$().cropper(&quot;crop&quot;)">
                                                    <span class="fa fa-check"></span>
                                                </span>
                                            </button>
                                            <button type="button" class="btn btn-primary" data-method="clear" title="Clear">
                                                <span class="docs-tooltip" data-toggle="tooltip" title="$().cropper(&quot;clear&quot;)">
                                                    <span class="fa fa-remove"></span>
                                                </span>
                                            </button>
                                        </div>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-primary" data-method="disable" title="Disable">
                                                <span class="docs-tooltip" data-toggle="tooltip" title="$().cropper(&quot;disable&quot;)">
                                                    <span class="fa fa-lock"></span>
                                                </span>
                                            </button>
                                            <button type="button" class="btn btn-primary" data-method="enable" title="Enable">
                                                <span class="docs-tooltip" data-toggle="tooltip" title="$().cropper(&quot;enable&quot;)">
                                                    <span class="fa fa-unlock"></span>
                                                </span>
                                            </button>
                                        </div>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-primary" data-method="reset" title="Reset">
                                                <span class="docs-tooltip" data-toggle="tooltip" title="$().cropper(&quot;reset&quot;)">
                                                    <span class="fa fa-refresh"></span>
                                                </span>
                                            </button>
                                            <label class="btn btn-primary btn-upload" for="inputImage" title="Upload image file">
                                                <input type="file" class="sr-only" id="inputImage" name="file" accept="image/*">
                                                <span class="docs-tooltip" data-toggle="tooltip" title="Import image with Blob URLs">
                                                    <span class="fa fa-upload"></span>
                                                </span>
                                            </label>
                                            <button type="button" class="btn btn-primary" data-method="destroy" title="Destroy">
                                                <span class="docs-tooltip" data-toggle="tooltip" title="$().cropper(&quot;destroy&quot;)">
                                                    <span class="fa fa-power-off"></span>
                                                </span>
                                            </button>
                                        </div>
                                        <div class="btn-group btn-group-crop">
                                            <button type="button" class="btn btn-primary" data-method="getCroppedCanvas">
                                                <span class="docs-tooltip" data-toggle="tooltip" title="$().cropper(&quot;getCroppedCanvas&quot;)">
                                                    Get Cropped Canvas
                                                </span>
                                            </button>
                                            <button type="button" class="btn btn-primary" data-method="getCroppedCanvas" data-option="{ &quot;width&quot;: 160, &quot;height&quot;: 90 }">
                                                <span class="docs-tooltip" data-toggle="tooltip" title="$().cropper(&quot;getCroppedCanvas&quot;, { width: 160, height: 90 })">
                                                    160&times;90
                                                </span>
                                            </button>
                                            <button type="button" class="btn btn-primary" data-method="getCroppedCanvas" data-option="{ &quot;width&quot;: 320, &quot;height&quot;: 180 }">
                                                <span class="docs-tooltip" data-toggle="tooltip" title="$().cropper(&quot;getCroppedCanvas&quot;, { width: 320, height: 180 })">
                                                    320&times;180
                                                </span>
                                            </button>
                                        </div>
                                        <!-- Show the cropped image in modal -->
                                        <div class="modal fade docs-cropped" id="getCroppedCanvasModal" aria-hidden="true" aria-labelledby="getCroppedCanvasTitle" role="dialog" tabindex="-1">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                        <h4 class="modal-title" id="getCroppedCanvasTitle">Cropped</h4>
                                                    </div>
                                                    <div class="modal-body"></div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                        <a class="btn btn-primary" id="download" href="javascript:void(0);" download="cropped.png">Download</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- /.modal -->
                                        <button type="button" class="btn btn-primary" data-method="getData" data-option data-target="#putData">
                                            <span class="docs-tooltip" data-toggle="tooltip" title="$().cropper(&quot;getData&quot;)">
                                                Get Data
                                            </span>
                                        </button>
                                        <button type="button" class="btn btn-primary" data-method="setData" data-target="#putData">
                                            <span class="docs-tooltip" data-toggle="tooltip" title="$().cropper(&quot;setData&quot;, data)">
                                                Set Data
                                            </span>
                                        </button>
                                        <button type="button" class="btn btn-primary" data-method="getContainerData" data-option data-target="#putData">
                                            <span class="docs-tooltip" data-toggle="tooltip" title="$().cropper(&quot;getContainerData&quot;)">
                                                Get Container Data
                                            </span>
                                        </button>
                                        <button type="button" class="btn btn-primary" data-method="getImageData" data-option data-target="#putData">
                                            <span class="docs-tooltip" data-toggle="tooltip" title="$().cropper(&quot;getImageData&quot;)">
                                                Get Image Data
                                            </span>
                                        </button>
                                        <button type="button" class="btn btn-primary" data-method="getCanvasData" data-option data-target="#putData">
                                            <span class="docs-tooltip" data-toggle="tooltip" title="$().cropper(&quot;getCanvasData&quot;)">
                                                Get Canvas Data
                                            </span>
                                        </button>
                                        <button type="button" class="btn btn-primary" data-method="setCanvasData" data-target="#putData">
                                            <span class="docs-tooltip" data-toggle="tooltip" title="$().cropper(&quot;setCanvasData&quot;, data)">
                                                Set Canvas Data
                                            </span>
                                        </button>
                                        <button type="button" class="btn btn-primary" data-method="getCropBoxData" data-option data-target="#putData">
                                            <span class="docs-tooltip" data-toggle="tooltip" title="$().cropper(&quot;getCropBoxData&quot;)">
                                                Get Crop Box Data
                                            </span>
                                        </button>
                                        <button type="button" class="btn btn-primary" data-method="setCropBoxData" data-target="#putData">
                                            <span class="docs-tooltip" data-toggle="tooltip" title="$().cropper(&quot;setCropBoxData&quot;, data)">
                                                Set Crop Box Data
                                            </span>
                                        </button>
                                        <button type="button" class="btn btn-primary" data-method="moveTo" data-option="0">
                                            <span class="docs-tooltip" data-toggle="tooltip" title="cropper.moveTo(0)">
                                                0,0
                                            </span>
                                        </button>
                                        <button type="button" class="btn btn-primary" data-method="zoomTo" data-option="1">
                                            <span class="docs-tooltip" data-toggle="tooltip" title="cropper.zoomTo(1)">
                                                100%
                                            </span>
                                        </button>
                                        <button type="button" class="btn btn-primary" data-method="rotateTo" data-option="180">
                                            <span class="docs-tooltip" data-toggle="tooltip" title="cropper.rotateTo(180)">
                                                180°
                                            </span>
                                        </button>
                                        <input type="text" class="form-control" id="putData" placeholder="Get data to here or set data with this value">
                                    </div><!-- /.docs-buttons -->
                                    <div class="col-md-3 docs-toggles">
                                        <!-- <h3 class="page-header">Toggles:</h3> -->
                                        <div class="btn-group btn-group-justified" data-toggle="buttons">
                                            <label class="btn btn-primary active">
                                                <input type="radio" class="sr-only" id="aspectRatio0" name="aspectRatio" value="1.7777777777777777">
                                                <span class="docs-tooltip" data-toggle="tooltip" title="aspectRatio: 16 / 9">
                                                    16:9
                                                </span>
                                            </label>
                                            <label class="btn btn-primary">
                                                <input type="radio" class="sr-only" id="aspectRatio1" name="aspectRatio" value="1.3333333333333333">
                                                <span class="docs-tooltip" data-toggle="tooltip" title="aspectRatio: 4 / 3">
                                                    4:3
                                                </span>
                                            </label>
                                            <label class="btn btn-primary">
                                                <input type="radio" class="sr-only" id="aspectRatio2" name="aspectRatio" value="1">
                                                <span class="docs-tooltip" data-toggle="tooltip" title="aspectRatio: 1 / 1">
                                                    1:1
                                                </span>
                                            </label>
                                            <label class="btn btn-primary">
                                                <input type="radio" class="sr-only" id="aspectRatio3" name="aspectRatio" value="0.6666666666666666">
                                                <span class="docs-tooltip" data-toggle="tooltip" title="aspectRatio: 2 / 3">
                                                    2:3
                                                </span>
                                            </label>
                                            <label class="btn btn-primary">
                                                <input type="radio" class="sr-only" id="aspectRatio4" name="aspectRatio" value="NaN">
                                                <span class="docs-tooltip" data-toggle="tooltip" title="aspectRatio: NaN">
                                                    Free
                                                </span>
                                            </label>
                                        </div>
                                        <div class="btn-group btn-group-justified" data-toggle="buttons">
                                            <label class="btn btn-primary active">
                                                <input type="radio" class="sr-only" id="viewMode0" name="viewMode" value="0" checked>
                                                <span class="docs-tooltip" data-toggle="tooltip" title="View Mode 0">
                                                    VM0
                                                </span>
                                            </label>
                                            <label class="btn btn-primary">
                                                <input type="radio" class="sr-only" id="viewMode1" name="viewMode" value="1">
                                                <span class="docs-tooltip" data-toggle="tooltip" title="View Mode 1">
                                                    VM1
                                                </span>
                                            </label>
                                            <label class="btn btn-primary">
                                                <input type="radio" class="sr-only" id="viewMode2" name="viewMode" value="2">
                                                <span class="docs-tooltip" data-toggle="tooltip" title="View Mode 2">
                                                    VM2
                                                </span>
                                            </label>
                                            <label class="btn btn-primary">
                                                <input type="radio" class="sr-only" id="viewMode3" name="viewMode" value="3">
                                                <span class="docs-tooltip" data-toggle="tooltip" title="View Mode 3">
                                                    VM3
                                                </span>
                                            </label>
                                        </div>
                                        <div class="dropdown dropup docs-options">
                                            <button type="button" class="btn btn-primary btn-block dropdown-toggle" id="toggleOptions" data-toggle="dropdown" aria-expanded="true">
                                                Toggle Options
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="toggleOptions" role="menu">
                                                <li role="presentation">
                                                    <label class="checkbox-inline">
                                                        <input type="checkbox" name="responsive" checked>
                                                        responsive
                                                    </label>
                                                </li>
                                                <li role="presentation">
                                                    <label class="checkbox-inline">
                                                        <input type="checkbox" name="restore" checked>
                                                        restore
                                                    </label>
                                                </li>
                                                <li role="presentation">
                                                    <label class="checkbox-inline">
                                                        <input type="checkbox" name="checkCrossOrigin" checked>
                                                        checkCrossOrigin
                                                    </label>
                                                </li>
                                                <li role="presentation">
                                                    <label class="checkbox-inline">
                                                        <input type="checkbox" name="checkOrientation" checked>
                                                        checkOrientation
                                                    </label>
                                                </li>
                                                <li role="presentation">
                                                    <label class="checkbox-inline">
                                                        <input type="checkbox" name="modal" checked>
                                                        modal
                                                    </label>
                                                </li>
                                                <li role="presentation">
                                                    <label class="checkbox-inline">
                                                        <input type="checkbox" name="guides" checked>
                                                        guides
                                                    </label>
                                                </li>
                                                <li role="presentation">
                                                    <label class="checkbox-inline">
                                                        <input type="checkbox" name="center" checked>
                                                        center
                                                    </label>
                                                </li>
                                                <li role="presentation">
                                                    <label class="checkbox-inline">
                                                        <input type="checkbox" name="highlight" checked>
                                                        highlight
                                                    </label>
                                                </li>
                                                <li role="presentation">
                                                    <label class="checkbox-inline">
                                                        <input type="checkbox" name="background" checked>
                                                        background
                                                    </label>
                                                </li>
                                                <li role="presentation">
                                                    <label class="checkbox-inline">
                                                        <input type="checkbox" name="autoCrop" checked>
                                                        autoCrop
                                                    </label>
                                                </li>
                                                <li role="presentation">
                                                    <label class="checkbox-inline">
                                                        <input type="checkbox" name="movable" checked>
                                                        movable
                                                    </label>
                                                </li>
                                                <li role="presentation">
                                                    <label class="checkbox-inline">
                                                        <input type="checkbox" name="rotatable" checked>
                                                        rotatable
                                                    </label>
                                                </li>
                                                <li role="presentation">
                                                    <label class="checkbox-inline">
                                                        <input type="checkbox" name="scalable" checked>
                                                        scalable
                                                    </label>
                                                </li>
                                                <li role="presentation">
                                                    <label class="checkbox-inline">
                                                        <input type="checkbox" name="zoomable" checked>
                                                        zoomable
                                                    </label>
                                                </li>
                                                <li role="presentation">
                                                    <label class="checkbox-inline">
                                                        <input type="checkbox" name="zoomOnTouch" checked>
                                                        zoomOnTouch
                                                    </label>
                                                </li>
                                                <li role="presentation">
                                                    <label class="checkbox-inline">
                                                        <input type="checkbox" name="zoomOnWheel" checked>
                                                        zoomOnWheel
                                                    </label>
                                                </li>
                                                <li role="presentation">
                                                    <label class="checkbox-inline">
                                                        <input type="checkbox" name="cropBoxMovable" checked>
                                                        cropBoxMovable
                                                    </label>
                                                </li>
                                                <li role="presentation">
                                                    <label class="checkbox-inline">
                                                        <input type="checkbox" name="cropBoxResizable" checked>
                                                        cropBoxResizable
                                                    </label>
                                                </li>
                                                <li role="presentation">
                                                    <label class="checkbox-inline">
                                                        <input type="checkbox" name="toggleDragModeOnDblclick" checked>
                                                        toggleDragModeOnDblclick
                                                    </label>
                                                </li>
                                            </ul>
                                        </div><!-- /.dropdown -->
                                        <a class="btn btn-default btn-block" data-toggle="tooltip" href="https://fengyuanchen.github.io/cropperjs" title="Cropper without jQuery">Cropper.js</a>
                                    </div><!-- /.docs-toggles -->
                                </div>
                            </div>
                            <!-- /image cropping -->
                        </div>
                    </div>
                </div>
                <div id="step-3">
                    <h2 class="StepTitle">Passo 3 - Visualizar Informativo</h2>
                    <p>&nbsp;</p>
                    <div class="dashboard-widget-content">
                        <div class="row">
                            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                <ul class="list-unstyled timeline widget">
                                    <li>
                                        <div class="block">
                                            <div class="block_content">
                                                <h2 class="title">
                                                    <a id="_PreviewTitle">Who Needs Sundance When You’ve Got&nbsp;Crowdfunding?</a>
                                                </h2>
                                                <div class="byline">
                                                    <span id="_PreviewDate">15/10/2016</span>
                                                </div>
                                                <p id="_PreviewMidia1"></p>
                                                <p class="excerpt" id="_PreviewSummary">
                                                    Film festivals used to be do-or-die moments for movie makers. They were where you met the producers that could fund your project, and if the buyers liked your flick, they’d pay to Fast-forward and… <a>Read&nbsp;More</a>
                                                </p>
                                                <p class="dedo-indicador" id="readmore"><code data-toggle="modal" data-target="#myModalPreview">Leia mais...</code></p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="block">
                                            <div class="block_content">
                                                <h2 class="title">
                                                    <a>Who Needs Sundance When You’ve Got&nbsp;Crowdfunding?</a>
                                                </h2>
                                                <div class="byline">
                                                    <span>13 hours ago</span> by <a>Jane Smith</a>
                                                </div>
                                                <p class="excerpt">
                                                    Film festivals used to be do-or-die moments for movie makers. They were where you met the producers that could fund your project, and if the buyers liked your flick, they’d pay to Fast-forward and… <a>Read&nbsp;More</a>
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="block">
                                            <div class="block_content">
                                                <h2 class="title">
                                                    <a>Who Needs Sundance When You’ve Got&nbsp;Crowdfunding?</a>
                                                </h2>
                                                <div class="byline">
                                                    <span>13 hours ago</span> by <a>Jane Smith</a>
                                                </div>
                                                <p class="excerpt">
                                                    Film festivals used to be do-or-die moments for movie makers. They were where you met the producers that could fund your project, and if the buyers liked your flick, they’d pay to Fast-forward and… <a>Read&nbsp;More</a>
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="block">
                                            <div class="block_content">
                                                <h2 class="title">
                                                    <a>Who Needs Sundance When You’ve Got&nbsp;Crowdfunding?</a>
                                                </h2>
                                                <div class="byline">
                                                    <span>13 hours ago</span> by <a>Jane Smith</a>
                                                </div>
                                                <p class="excerpt">
                                                    Film festivals used to be do-or-die moments for movie makers. They were where you met the producers that could fund your project, and if the buyers liked your flick, they’d pay to Fast-forward and… <a>Read&nbsp;More</a>
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <p id="calibrador" style="height: 300px"></p>
                    </div>
                </div>
                <div id="step-4">
                    <h2 class="StepTitle">Step 4 Content</h2>

                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                        in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                        in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    @*<div class="ln_solid"></div>
                    <div class="row clearfix">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="submit" class="btn btn-success" value="Salvar" name="btn-salvar" id="btn-salvar" />
                                <input type="button" onclick="window.location = '../Informativo/Browse'" class="btn btn-default" value="Cancelar" />
                            </div>
                        </div>
                    </div>*@
                </div>
            </div>
            <!-- End SmartWizard Content -->
        </div>
    </div>
</div>

<div id="myModal1" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content hidden-xs">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="btnModal">×</button>
                <h3 class="modal-title" id="myModalLabel">Modal title</h3>
            </div>
            <div class="modal-body" id="myModal1-body">
                <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Fechar</button>
            </div>
        </div>
    </div>
</div>
<!-- /.modal-dialog -->
<div class="modal fade" id="myModal2">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body text-center" id="myModal2-body">
                <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div><!-- /.modal-content -->
    </div>
</div>
<!-- /.modal -->
<div id="myModalPreview" class="modal fade" role="dialog" aria-labelledby="myModalLabelPreview" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content hidden-xs">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="btnModalPreview">×</button>
                <h3 class="modal-title" id="myModalLabelPreview"></h3>
            </div>
            <div class="modal-body Scroll" id="myModal1-body-preview" style="height: 700px">
                <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Fechar</button>
            </div>
        </div>
    </div>
</div>
<!-- / modal preview-->

<link href="~/Content/css/jquery.fileupload.css" rel="stylesheet" />
<script src="~/Scripts/fileUpload/jquery.ui.widget.js"></script>
<script src="~/Scripts/fileUpload/jquery.fileupload.js"></script>

<!-- NProgress -->
<script src="../Content/vendors/nprogress/nprogress.js"></script>
<!-- jQuery Smart Wizard -->
<script src="../Content/vendors/jQuery-Smart-Wizard/js/jquery.smartWizard.js"></script>
<!-- Cropper -->
<script src="../Content/vendors/cropper/dist/cropper.min.js"></script>


<script>
    function FileUploadCrop(_fileUpload, _fileHidden, _progress, _file_name, _myModal, _arq, _trash) {

        // _fileupload = fileUpload

        if (_arq == '' || _arq == '')
            _arq = 'arq1';

        if (_trash == '' || _trash == '')
            _trash = 'trash1';

        $('#' + _progress).hide();

        $('#' + _fileUpload).fileupload({
            dataType: 'json',
            url: "UploadFiles", // MasterController
            autoUpload: true,
            done: function (e, data) {

                if (data.result.mensagem != "Sucesso") {
                    $('#' + _progress + ' #' + _progress + '-bar').css('width', '0%');
                    ShowMessageAjaxAlert(data.result.mensagem, "danger");
                    $('#' + _arq).hide();
                    $('#' + _trash).hide();
                    return;
                }

                $('#' + _fileUpload).hide(); // esconde o componente para forçar a exclusão do arquivo para poder enviar outro arquivo

                if (data.result.type == 'image/jpeg' || data.result.type == 'image/png' || data.result.type == 'image/bmp') {
                    $('#' + _myModal + '-body').html('<img src="../Temp/' + data.result.name + '" class="img-responsive" alt="Responsive image" style="height: 480px">');
                    $('#' + _file_name).html('<small data-toggle="modal" data-target="#' + _myModal + '" style="cursor: pointer" id="' + _arq + '"><img src="../Temp/' + data.result.name + '" class="img-responsive" alt="Responsive image" style="height: 75px">' + data.result.nome_original + '</small>&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-trash" aria-hidden="true" style="cursor: pointer" id="' + _trash + '" onclick="DelFile(\'' + data.result.name + '\', \'' + _fileUpload + '\', \'' + _arq + '\', \'' + _trash + '\', \'' + _fileHidden + '\')"></span>');
                    $('#caralho').html('<img src="../Temp/' + data.result.name + '" id="image" alt="Picture">');
                    coco();
                }
                else if (data.result.type == 'application/pdf') {
                    $('#' + _myModal + '-body').html('<iframe style="height: 480px; width: 100%" src="../Temp/' + data.result.name + '"></iframe>');
                    $('#' + _file_name).html('<small data-toggle="modal" data-target="#' + _myModal + '" style="cursor: pointer" id="' + _arq + '"><img src="http://www.equidadeparaainfancia.org/img/pdf.jpg" class="img-responsive" alt="Responsive image">' + data.result.nome_original + '</small>&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-trash" aria-hidden="true" style="cursor: pointer" id="' + _trash + '" onclick="DelFile(\'' + data.result.name + '\', \'' + _fileUpload + '\', \'' + _arq + '\', \'' + _trash + '\', \'' + _fileHidden + '\')"></span>');
                }
                $('.modal-title').html(data.result.nome_original);
                //_fileHidden = fileBoleto
                $('#' + _fileHidden).val(data.result.name);
                $('#' + _progress + ' #' + _progress + '-bar').css('width', '0%');
                $('#' + _progress).hide();

                // word: http://www.portugalsenior.org/wp-content/uploads/2014/07/MW-Logo1-50x50.jpg

                //$('.file_type').html(data.result.type);
                //$('.file_size').html(data.result.size);
            }
        }).on('fileuploadprogressall', function (e, data) {
            $('#' + _progress).show();
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('#' + _progress + ' #' + _progress + '-bar').css('width', progress + '%');
        });
    }
</script>

<!-- FileUpload-->
<script type="text/javascript">
    $(document).ready(function () {
        FileUploadCrop('fileUploadMidia1', 'fileMidia1', 'progress1', 'file_name1', 'myModal1', 'arq1', 'trash1');
        FileUploadCrop('fileUploadMidia2', 'fileMidia2', 'progress2', 'file_name2', 'myModal2', 'arq2', 'trash2');
    });
</script>

<!--Summernote-->
<script>
    $(document).ready(function () {
        $('#summernote1').summernote({
            lang: 'pt-BR',
            height: 100,
            //toolbar: [
            //   // [groupName, [list of button]]
            //   ['style', ['bold', 'italic', 'underline', 'clear']],
            //   ['font', ['strikethrough', 'superscript', 'subscript']],
            //   ['fontsize', ['fontsize']],
            //   ['color', ['color']],
            //   ['para', ['ul', 'ol', 'paragraph']],
            //   ['height', ['height']]
            //]
        });
        $('#Resumo').html('@Model.Resumo');
        $('#summernote1').summernote('code', $('#Resumo').val());

        $('#summernote2').summernote({
            lang: 'pt-BR',
            height: 450,
            //toolbar: [
            //   // [groupName, [list of button]]
            //   ['style', ['bold', 'italic', 'underline', 'clear']],
            //   ['font', ['strikethrough', 'superscript', 'subscript']],
            //   ['fontsize', ['fontsize']],
            //   ['color', ['color']],
            //   ['para', ['ul', 'ol', 'paragraph']],
            //   ['height', ['height']]
            //]
        });
        $('#MensagemDetalhada').html('@Model.MensagemDetalhada');
        $('#summernote2').summernote('code', $('#MensagemDetalhada').val());
    });

    function contaCharCabec() {
        var text = $("#Cabecalho").val();
        var count = text.length;
        $("#contadorCabec").text(count + ' / 30');
    }

    function Valida() {
        $('#Resumo').val($('#summernote1').summernote('code'));
        $('#MensagemDetalhada').val($('#summernote2').summernote('code'));
        return true;
    }
</script>

<!-- jQuery Smart Wizard -->
<script>
      $(document).ready(function() {
        $('#wizard').smartWizard();

        $('#wizard_verticle').smartWizard({
          transitionEffect: 'slide'
        });

        $('.buttonNext').addClass('btn btn-default');
        $('.buttonPrevious').addClass('btn btn-default');
        $('.buttonFinish').addClass('btn btn-success');

        $('.buttonNext').click(function() {
            Preview();
        });
      });
</script>
<!-- /jQuery Smart Wizard -->

<!-- Cropper -->
<script>
    function coco() {
        var $image = $('#image');
        var $download = $('#download');
        var $dataX = $('#dataX');
        var $dataY = $('#dataY');
        var $dataHeight = $('#dataHeight');
        var $dataWidth = $('#dataWidth');
        var $dataRotate = $('#dataRotate');
        var $dataScaleX = $('#dataScaleX');
        var $dataScaleY = $('#dataScaleY');
        var options = {
            aspectRatio: 16 / 9,
            preview: '.img-preview',
            crop: function (e) {
                $dataX.val(Math.round(e.x));
                $dataY.val(Math.round(e.y));
                $dataHeight.val(Math.round(e.height));
                $dataWidth.val(Math.round(e.width));
                $dataRotate.val(e.rotate);
                $dataScaleX.val(e.scaleX);
                $dataScaleY.val(e.scaleY);
            }
        };


        // Tooltip
        $('[data-toggle="tooltip"]').tooltip();


        // Cropper
        $image.on({
            'build.cropper': function (e) {
                console.log(e.type);
            },
            'built.cropper': function (e) {
                console.log(e.type);
            },
            'cropstart.cropper': function (e) {
                console.log(e.type, e.action);
            },
            'cropmove.cropper': function (e) {
                console.log(e.type, e.action);
            },
            'cropend.cropper': function (e) {
                console.log(e.type, e.action);
            },
            'crop.cropper': function (e) {
                console.log(e.type, e.x, e.y, e.width, e.height, e.rotate, e.scaleX, e.scaleY);
            },
            'zoom.cropper': function (e) {
                console.log(e.type, e.ratio);
            }
        }).cropper(options);


        // Buttons
        if (!$.isFunction(document.createElement('canvas').getContext)) {
            $('button[data-method="getCroppedCanvas"]').prop('disabled', true);
        }

        if (typeof document.createElement('cropper').style.transition === 'undefined') {
            $('button[data-method="rotate"]').prop('disabled', true);
            $('button[data-method="scale"]').prop('disabled', true);
        }


        // Download
        if (typeof $download[0].download === 'undefined') {
            $download.addClass('disabled');
        }


        // Options
        $('.docs-toggles').on('change', 'input', function () {
            var $this = $(this);
            var name = $this.attr('name');
            var type = $this.prop('type');
            var cropBoxData;
            var canvasData;

            if (!$image.data('cropper')) {
                return;
            }

            if (type === 'checkbox') {
                options[name] = $this.prop('checked');
                cropBoxData = $image.cropper('getCropBoxData');
                canvasData = $image.cropper('getCanvasData');

                options.built = function () {
                    $image.cropper('setCropBoxData', cropBoxData);
                    $image.cropper('setCanvasData', canvasData);
                };
            } else if (type === 'radio') {
                options[name] = $this.val();
            }

            $image.cropper('destroy').cropper(options);
        });


        // Methods
        $('.docs-buttons').on('click', '[data-method]', function () {
            var $this = $(this);
            var data = $this.data();
            var $target;
            var result;

            if ($this.prop('disabled') || $this.hasClass('disabled')) {
                return;
            }

            if ($image.data('cropper') && data.method) {
                data = $.extend({}, data); // Clone a new one

                if (typeof data.target !== 'undefined') {
                    $target = $(data.target);

                    if (typeof data.option === 'undefined') {
                        try {
                            data.option = JSON.parse($target.val());
                        } catch (e) {
                            console.log(e.message);
                        }
                    }
                }

                result = $image.cropper(data.method, data.option, data.secondOption);

                switch (data.method) {
                    case 'scaleX':
                    case 'scaleY':
                        $(this).data('option', -data.option);
                        break;

                    case 'getCroppedCanvas':
                        if (result) {

                            // Bootstrap's Modal
                            $('#getCroppedCanvasModal').modal().find('.modal-body').html(result);

                            if (!$download.hasClass('disabled')) {
                                $download.attr('href', result.toDataURL());
                            }
                        }

                        break;
                }

                if ($.isPlainObject(result) && $target) {
                    try {
                        $target.val(JSON.stringify(result));
                    } catch (e) {
                        console.log(e.message);
                    }
                }

            }
        });

        // Keyboard
        $(document.body).on('keydown', function (e) {
            if (!$image.data('cropper') || this.scrollTop > 300) {
                return;
            }

            //switch (e.which) {
            //    case 37:
            //        e.preventDefault();
            //        $image.cropper('move', -1, 0);
            //        break;

            //    case 38:
            //        e.preventDefault();
            //        $image.cropper('move', 0, -1);
            //        break;

            //    case 39:
            //        e.preventDefault();
            //        $image.cropper('move', 1, 0);
            //        break;

            //    case 40:
            //        e.preventDefault();
            //        $image.cropper('move', 0, 1);
            //        break;
            //}
        });

        // Import image
        var $inputImage = $('#inputImage');
        var URL = window.URL || window.webkitURL;
        var blobURL;

        if (URL) {
            $inputImage.change(function () {
                var files = this.files;
                var file;

                if (!$image.data('cropper')) {
                    return;
                }

                if (files && files.length) {
                    file = files[0];

                    if (/^image\/\w+$/.test(file.type)) {
                        blobURL = URL.createObjectURL(file);
                        $image.one('built.cropper', function () {

                            // Revoke when load complete
                            URL.revokeObjectURL(blobURL);
                        }).cropper('reset').cropper('replace', blobURL);
                        $inputImage.val('');
                    } else {
                        window.alert('Please choose an image file.');
                    }
                }
            });
        } else {
            $inputImage.prop('disabled', true).parent().addClass('disabled');
        }
    }
      $(document).ready(function() {
          coco();
      });
</script>
<!-- /Cropper -->

<!-- Preview -->
<script>
    function Preview() {
        var path_fileMidia1 = '<img src="../Temp/' + $('#fileMidia1').val() + '" class="img-responsive" alt="Responsive image" />';
        var path_fileMidia2 = '<img src="../Temp/' + $('#fileMidia2').val() + '" class="img-responsive" alt="Responsive image" />';

        $('#Resumo').val($('#summernote1').summernote('code'));
        $('#MensagemDetalhada').val($('#summernote2').summernote('code'));

        $("#_PreviewTitle").html($('#Cabecalho').val())
        $("#_PreviewDate").html($('#DataPublicacao').val())
        $("#_PreviewSummary").html($('#Resumo').val().substr(0, 500) + "...")

        $("#myModalLabelPreview").html($('#Cabecalho').val())
        if ($('#fileMidia2').val() != '')
        {
            $('#myModal1-body-preview').html("<p>" + path_fileMidia2 + "</p>" + $('#MensagemDetalhada').val());
            $('#readmore').show();
        }
        else
        {
            $('#myModal1-body-preview').html($('#MensagemDetalhada').val());
            $('#readmore').hide();
        }
        $('#_PreviewMidia1').html('');
        if ($('#fileMidia1').val() != '') {
            $('#_PreviewMidia1').html(path_fileMidia1);
        }
    }
</script>
