@using App_Dominio.Repositories
@using DWM.Models.Enumeracoes
@model DWM.Models.Repositories.EmailLogViewModel
@{
    TransacaoRepository[] t = { new TransacaoRepository(), new TransacaoRepository() };
    t[0].url = "../EnviarEmail/Create";
    t[0].nomeCurto = "Incluir";
    t[0].referencia = "";

    t[1].url = "../Home/Default";
}
<link href="~/Content/vendors/summernote/css/summernote.css" rel="stylesheet">

<div class="container-cadastro">
    <div class="x_panel">
        @Html.EditorFor(info => Model, "FORMULARIO", new { Brand = "Enviar Email", Descricao = "Enviar Email", Transacao = t })
        <div class="x_content">
            <!-- Smart Wizard -->
            @using (Html.BeginForm("Create", "EnviarEmail", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @*@Html.ValidationSummary("", new { @class = "text-danger" })*@
                @Html.HiddenFor(info => info.CondominioID)
                @Html.HiddenFor(info => info.empresaId)
                <div class="row">
                    <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12">
                        <div class="form-group">
                            <label class="control-label">Grupo/Condômino</label>
                            @Html.DropDownList("GrupoCondominoID", new DWM.Models.Enumeracoes.BindDropDownList().GrupoCondominos("Todos...", "", Model.CondominioID), new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12">
                        <div class="form-group">
                            <label class="control-label">Edificação</label>
                            @Html.DropDownList("EdificacaoID", new DWM.Models.Enumeracoes.BindDropDownList().Edificacoes("Todas...", "", Model.CondominioID), new { @class = "form-control", @onchange = "GetSelectListOnCascade('EdificacaoID','UnidadeID', 'CondominioID')" })
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12">
                        <div class="form-group">
                            <label class="control-label">Unidades</label>
                            @Html.DropDownList("UnidadeID", new DWM.Models.Enumeracoes.BindDropDownList().Unidades("Todos...", "", 0, Model.CondominioID), new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-sm-12 col-lg-8 col-xs-12">
                        <div class="form-group">
                            <label class="control-label">Assunto</label>
                            <input type="text" class="form-control" name="Assunto" id="Assunto" value="@Model.Assunto" />
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12">
                        <div class="form-group">
                            <label class="control-label">Modelo de e-mail</label>
                            @Html.DropDownList("EmailTemplateID", new DWM.Models.Enumeracoes.BindDropDownList().EmailTemplates("Selecione...", "0", Model.CondominioID, (int)Enumeradores.EmailTipo.OUTROS), new { @class = "form-control", @onchange = "getEmail();" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
                        <div class="form-group">
                            <label class="control-label">Mensagem</label>
                            <input type="hidden" name="EmailMensagem" id="EmailMensagem" value="@Model.EmailMensagem" />
                            <div id="summernote1">@Model.EmailMensagem</div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <input type="submit" value="Enviar" class="btn btn-primary" onclick = "return Valida();" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>


<!--Summernote-->
<script>
    $(document).ready(function () {
        $('#summernote1').summernote({
            lang: 'pt-BR',
            height: 450,
            //toolbar: [
            //   // [groupName, [list of button]]
            //   ['style', ['bold', 'italic', 'underline', 'clear']],
            //   ['font', ['strikethrough', 'superscript', 'subscript']],
            //   ['fontsize', ['fontsize']],
            //   ['color', ['color']],
            //   ['para', ['ul', 'ol', 'paragraph']],
            //   ['height', ['height']]
            //]
        });
        $('#EmailMensagem').html('@Model.EmailMensagem');
        $('#summernote1').summernote('code', $('#EmailMensagem').val());
    });

    function Valida() {
        $('#EmailMensagem').val($('#summernote1').summernote('code'));
        return true;
    }

    function getEmail() {
        var _EmailTemplateID = $('#EmailTemplateID').val();
        var _CondominioID = $('#CondominioID').val();
        if (_EmailTemplateID != '' && _EmailTemplateID != '0') {
            var link = "GetNamesEmailTemplate?EmailTemplateID=" + _EmailTemplateID;
            link = encodeURI(link + '&noCahce=' + new Date());
            $.ajax({
                type: "POST",
                url: link,
                contentType: "application/json; charset=utf-8",
                global: false,
                async: false,
                dataType: "json",
                success: function (jsonObj) {
                    $('#summernote1').summernote('code', jsonObj.EmailMensagem);
                    $('#EmailMensagem').val($('#summernote1').summernote('code'));
                }
            });
        }
    }
</script>
