@model System.Web.Mvc.PagedList<DWM.Models.Repositories.EmailLogViewModel>

@{
    Layout = null;
}
@if (Model != null)
{
    <div class="dashboard-widget-content">
        <div class="col-md-5">
            Clique nos botões de <code>Ação</code> para executar a ação desejada
        </div>
        <div class="col-md-offset-9 col-lg-offset-9 col-xs-offset-7">
            @Html.Partial("Filtro")
        </div>
        <div class="table-responsive">
            <table class="table table-striped jambo_table bulk_action">
                <thead>
                    <tr class="headings">
                        <th class="col-md-2 column-title text-center nobr">Ação</th>
                        <th class="column-title">Tipo</th>
                        <th class="column-title">Assunto</th>
                        <th class="column-title">@ViewBag.TipoEdificacao</th>
                        <th class="column-title">Unidade</th>
                        <th class="column-title">Grupo</th>
                        <th class="column-title">Data Envio</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (DWM.Models.Repositories.EmailLogViewModel email in Model)
                    {
                        <tr class="even pointer">
                            <td class="text-center">
                                <p class="dedo-indicador" id="readmore" data-toggle="modal" data-target="#@email.EmailLogID"><i class="fa fa-info fa-2x"></i></p>
                            </td>
                            <td>
                                <span>@email.Descricao_EmailTipo</span>
                            </td>
                            <td>
                                <span>@email.Assunto</span>
                            </td>
                            <td>
                                <span>@email.Descricao_Edificacao</span>
                            </td>
                            <td>
                                <span>@email.Codigo</span>
                            </td>
                            <td>
                                <span>@email.Descricao_GrupoCondomino</span>
                            </td>
                            <td>
                                <span>@email.DataEmail.ToString("dd/MM/yyyy HH:mm")h.</span>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @Html.Partial("Paginacao", Model)
    </div>
}
else
{
    @Html.Partial("_AcessoNegadoModal")
}

@foreach (DWM.Models.Repositories.EmailLogViewModel email in Model)
{
    <div id="@email.EmailLogID" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" style="width: 70%; height: 300px">
            <div class="modal-content hidden-xs">
                <div class="modal-header bg-primary">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="btnModal">×</button>
                    <h3 class="modal-title" id="myModalLabel">@email.Assunto</h3>
                </div>
                <div class="modal-body Scroll" id="myModal1-body">
                    <p>@Html.Raw(email.EmailMensagem)</p>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Fechar</button>
                </div>
            </div>
        </div>
    </div>
}
