@model System.Web.Mvc.PagedList<DWM.Models.Repositories.VisitanteViewModel>
@{
    Layout = null;
}
@if (Model != null)
{
    <div class="dashboard-widget-content">
        @if (ViewBag.unidades == null)
        {
            <div class="row">
                <div class="col-md-8">
                    Clique nos botões de <code>Ação</code> para executar a ação desejada
                </div>
            </div>
            <p>&nbsp;</p>
        }
        
        <div class="table-responsive hidden-xs">
            <table class="table table-striped jambo_table bulk_action" id="datatable">
                <thead>
                    <tr class="headings">
                        <th class="col-md-2 column-title text-center nobr">Ação</th>
                        <th class="column-title">Nome</th>
                        <th class="column-title">Edificação</th>
                        <th class="column-title">Unidade</th>
                        <th class="column-title">Data de Inclusão</th>
                        <th class="column-title">Placa</th>
                        <th class="column-title">Marca</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (DWM.Models.Repositories.VisitanteViewModel vis in Model)
                    {
                        <tr class="even pointer">
                            <td class="text-center">
                                <button type="button" class="btn btn-primary btn-sm glyphicon glyphicon-edit" title="Editar" onclick="window.location='Edit?visitanteID=@vis.VisitanteID'"></button>
                                <button type="button" class="btn btn-danger btn-sm glyphicon glyphicon-trash" title="Excluir" onclick="window.location='Delete?visitanteID=@vis.VisitanteID'"></button>
                            </td>
                            <td>
                                <div class="row">
                                    <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
                                        <img src="@vis.Avatar("100")" width="100" class="img-thumbnail img-responsive" />
                                    </div>
                                    <div class="col-md-8 col-lg-8 col-sm-8 col-xs-8">
                                        <div class="row">
                                            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                                <h4>@vis.Nome</h4>
                                                <small>@vis.Sexo</small><br />
                                                <small>RG: <strong>@(vis.RG + " " + vis.OrgaoEmissor)</strong></small><br />
                                                <small>CPF: @App_Dominio.Models.Funcoes.FormataCPFCNPJ(vis.CPF)</small><br />
                                                <small>@vis.DescricaoTipoPrestador</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <span>@vis.DescricaoEdificacao</span><br />
                            </td>
                            <td>
                                <span>@vis.UnidadeID</span>
                            </td>
                            <td>
                                <span>@vis.DataInclusao.ToString("dd/MM/yyyy")</span>
                            </td>
                            <td>
                                <span>@vis.Placa</span>
                            </td>
                            <td>
                                <span>@vis.Marca</span>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="hidden-lg hidden-md hidden-sm">
            @foreach (DWM.Models.Repositories.VisitanteViewModel vis in Model)
            {
                <div class="row">
                    <div class="col-xs-4 text-center">
                        <img src="@vis.Avatar("90")" width="90" class="img-thumbnail img-responsive" />
                        <small>@vis.DescricaoEdificacao</small>
                        <small>@vis.UnidadeID</small>
                    </div>
                    <div class="col-xs-8">
                        <div class="row">
                            <div class="col-xs-12">
                                <h5>@vis.Nome</h5>
                                <small>@vis.Sexo</small><br />
                                <small>RG: <strong>@(vis.RG + " " + vis.OrgaoEmissor)</strong></small><br />
                                <small>CPF: @App_Dominio.Models.Funcoes.FormataCPFCNPJ(vis.CPF)</small><br />
                                <small>@vis.DescricaoTipoPrestador</small>
                                <div class="text-left">
                                    <button type="button" class="btn btn-primary btn-sm glyphicon glyphicon-edit" title="Editar" onclick="window.location='Edit?visitanteID=@vis.VisitanteID'"></button>
                                    <button type="button" class="btn btn-danger btn-sm glyphicon glyphicon-trash" title="Excluir" onclick="window.location='Delete?visitanteID=@vis.VisitanteID'"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
            }
        </div>
    </div>
}
else
{
    @Html.Partial("_AcessoNegadoModal")
}


<!-- Datatables -->
<script src="../Content/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="../Content/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

<script>
    $('#datatable').DataTable({
        lengthMenu: [[15, 25, 50, 100, -1], [15, 25, 50, 100, "Todos"]],
        iDisplayLength: 50,
        language: {
            "url": "../Scripts/DataTablePtBr.txt"
        },
    });
</script>

