
@model DWM.Models.RegisterViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DWM-Condomínios</title>
    <!-- Bootstrap -->
    <link href="../../Content/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="../../Content/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="../../Content/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- bootstrap-wysiwyg -->
    <link href="../../Content/vendors/google-code-prettify/bin/prettify.min.css" rel="stylesheet">
    @*<!-- Select2 -->
    <link href="../../Content/vendors/select2/dist/css/select2.min.css" rel="stylesheet">
    <!-- Switchery -->
    <link href="../../Content/vendors/switchery/dist/switchery.min.css" rel="stylesheet">
    <!-- starrr -->
    <link href="../../Content/vendors/starrr/dist/starrr.css" rel="stylesheet">*@
    <!-- Custom Theme Style -->
    <link href="../../Content/production/css/custom.css" rel="stylesheet">
    <!-- Site.css -->
    <link href="../../Content/Site.css" rel="stylesheet">
    <!-- Sticky-footer-->
    <link href="../../Content/Css/sticky-footer.css" rel="stylesheet" />
    <!-- Custom Theme Style -->
    <script type="text/javascript" src="../../Content/vendors/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../../Content/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../scripts/jquery.validate.js"></script>
    <script type="text/javascript" src="../../scripts/jquery.maskedinput.js"></script>
    <script type="text/javascript" src="../../scripts/inputs-jquery-ui.js"></script>
</head>
<body style="background:#cccccc;">
    <nav class="navbar navbar-fixed-top navbar-default hidden-xs">
        <div class="container-cadastro center-margin">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><img class="img-responsive" src="~/Users_Data/Empresas/@Model.Condominio.CondominioID/logo/@Model.Condominio.Logo" style="height: 80px" /></li>
                </ul>
                <ul class="nav navbar-nav" style="margin-top: 20px">
                    <li><h3>&nbsp;&nbsp;&nbsp;@Model.Condominio.RazaoSocial</h3></li>
                </ul>
                <ul class="nav navbar-nav pull-right">
                    <li><a href="~/Account/Login/@Model.Condominio.PathInfo">Acesso</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="margem-topo-100 hidden-xs"></div>
    <div class="container-cadastro center-margin">
        <div class="x_panel">
            <div class="x_title">
                <h2>Cadastro <small>Ao se cadastrar você concorda com os <a href="~/Account/TermoUso/@Model.Condominio.PathInfo" class="text-info" target="_blank">Termos de Uso</a> e <a href="~/Account/Politica/@Model.Condominio.PathInfo" class="text-info" target="_blank">Política de Privacidade</a></small></h2>
                <ul class="nav navbar-right panel_toolbox hidden-xs">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#">Política de privacidade</a>
                            </li>
                            <li>
                                <a href="#">Termos de Uso</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
                {
                    @Html.Partial("_alerts")
                    @Html.AntiForgeryToken()
                    @Html.Hidden("PathInfo", Model.Condominio.PathInfo)
                    @Html.Hidden("Validador", Model.UnidadeViewModel.Validador)
                    @Html.Hidden("DescricaoTipoEdificacao", Model.DescricaoTipoEdificacao)
                    @Html.Hidden("TipoCondomino", Model.UnidadeViewModel.TipoCondomino)
                    @Html.HiddenFor(info => info.CondominioID)
                    <div class="hidden-sm hidden-xs">
                        <h4>Instruções de preenchimento</h4>
                        <p class="font-gray-dark">
                            - Informe todos os campos abaixo e clique no botão <strong>[Salvar]</strong>
                        </p>
                        <p class="font-gray-dark">
                            - A habilitação de seu cadastro será notificada por e-mail
                        </p>
                        <p class="font-gray-dark">
                            - Ao se cadastrar você concorda com os <a href="~/Account/TermoUso/@Model.Condominio.PathInfo" class="text-info" target="_blank">Termos de Uso</a> e <a href="~/Account/Politica/@Model.Condominio.PathInfo" class="text-info" target="_blank">Política de Privacidade</a>
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-xs-12 col-sm-12">
                            <div class="form-group">
                                <label class="control-label">@Model.DescricaoTipoEdificacao</label>
                                @if (Model.UnidadeViewModel.Validador == null || Model.UnidadeViewModel.Validador == "")
                                {
                                    @Html.DropDownList("EdificacaoID", new DWM.Models.Enumeracoes.BindDropDownList().Edificacoes("", Model.UnidadeViewModel.EdificacaoID.ToString(), Model.CondominioID), new { @class = "form-control", @onchange = "GetUnidades('EdificacaoID','UnidadeID', 'CondominioID')" })
                                }
                                else
                                {
                                    @Html.DropDownList("EdificacaoID", new DWM.Models.Enumeracoes.BindDropDownList().Edificacoes("", Model.UnidadeViewModel.EdificacaoID.ToString(), Model.CondominioID), new { @class = "form-control", @Disabled="Disabled", @onchange = "GetUnidades('EdificacaoID','UnidadeID', 'CondominioID')" })
                                    @Html.Hidden("EdificacaoID", Model.UnidadeViewModel.EdificacaoID)
                                }
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-12 col-sm-12">
                            <div class="form-group">
                                <label class="control-label">Unidade</label>*
                                @if (Model.UnidadeViewModel.Validador == null || Model.UnidadeViewModel.Validador == "")
                                {
                                    @Html.DropDownList("UnidadeID", new DWM.Models.Enumeracoes.BindDropDownList().UnidadesDesocupadas("", Model.UnidadeViewModel.UnidadeID.ToString(), Model.UnidadeViewModel.EdificacaoID.ToString(), Model.CondominioID), new { @class = "form-control", @onchange = "ChangeTipoCondomino()" })
                                }
                                else
                                {
                                    @Html.DropDownList("UnidadeID", new DWM.Models.Enumeracoes.BindDropDownList().UnidadesDesocupadas("", Model.UnidadeViewModel.UnidadeID.ToString(), Model.UnidadeViewModel.EdificacaoID.ToString(), Model.CondominioID), new { @class = "form-control", @Disabled = "Disabled", @onchange = "ChangeTipoCondomino()" })
                                    @Html.Hidden("UnidadeID", Model.UnidadeViewModel.UnidadeID)
                                }
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12 col-sm-12">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Nome, new { @class = "control-label" })*
                                @if (Model.UnidadeViewModel.Validador == null || Model.UnidadeViewModel.Validador == "")
                                {
                                    @Html.TextBoxFor(m => m.Nome, new { @class = "form-control", @maxlength = "60" })
                                }
                                else
                                {
                                    @Html.TextBoxFor(m => m.Nome, new { @class = "form-control", @Disabled = "Disabled", @maxlength = "60" })
                                    @Html.Hidden("Nome", Model.Nome)
                                }
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-md-6 col-xs-12 col-sm-12">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Email, new { @class = "control-label" })*
                                @if (Model.UnidadeViewModel.Validador == null || Model.UnidadeViewModel.Validador == "")
                                {
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                }
                                else
                                {
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @Disabled = "Disabled" })
                                    @Html.Hidden("Email", Model.Email)
                                }
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-12 col-sm-12">
                            <div class="form-group">
                                @Html.LabelFor(m => m.TelParticular1, new { @class = "control-label" }) *
                                @Html.TextBoxFor(m => m.TelParticular1, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-12 col-sm-12">
                            <div class="form-group">
                                @Html.LabelFor(m => m.TelParticular2, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.TelParticular2, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div id="div-PF">
                        <div class="row clearfix">
                            <div class="col-md-3 col-xs-12 col-sm-12">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.IndFiscal, new { @class = "control-label" })*
                                    @Html.TextBoxFor(m => m.IndFiscal, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-12 col-sm-12">
                                <div class="form-group">
                                    <label class="control-label">Profissão/Ocupação</label>
                                    @Html.DropDownList("ProfissaoID", new DWM.Models.Enumeracoes.BindDropDownList().Profissoes("", ""), new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-12 col-sm-12">
                                <div class="control-group">
                                    <div class="controls">
                                        <div class="xdisplay_inputx form-group has-feedback">
                                            @{
                                            var DN = Model.DataNascimento.HasValue ? Model.DataNascimento.Value.ToString("yyyy-MM-dd") : "";
                                            }
                                            @Html.LabelFor(m => m.DataNascimento, new { @class = "control-label" })
                                            <input type="date" class="form-control" name="DataNascimento" id="DataNascimento" value="@DN" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-12 col-sm-12">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Sexo, new { @class = "control-label" })
                                    @Html.DropDownList("Sexo", App_Dominio.Enumeracoes.DropDownListEnum.Sexo("M", ""), new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-3 col-xs-12 col-sm-12">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.IndProprietario, new { @class = "control-label" })
                                    @Html.DropDownList("IndProprietario", App_Dominio.Enumeracoes.DropDownListEnum.SimNao("S", ""), new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-12 col-sm-12">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.IndAnimal, new { @class = "control-label" })
                                    @Html.DropDownList("IndAnimal", App_Dominio.Enumeracoes.DropDownListEnum.SimNao("N", ""), new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-12 col-sm-12">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.senha, new { @class = "control-label" })
                                    @Html.PasswordFor(m => m.senha, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-12 col-sm-12">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.confirmacaoSenha, new { @class = "control-label" })
                                    @Html.PasswordFor(m => m.confirmacaoSenha, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="div-PJ">
                        <div class="row clearfix">
                            <div class="col-md-3 col-xs-12 col-sm-12">
                                <div class="form-group">
                                    <label class="control-label">CNPJ</label>*
                                    <input type="text" id="cnpj" name="cnpj" class="form-control" value="@Model.IndFiscal" />
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-12 col-sm-12">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Administrador, new { @class = "control-label" })
                                    @Html.TextBoxFor(m => m.Administrador, new { @class = "form-control", @maxlength = "40" })
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12 col-sm-12">
                                <div class="form-group">
                                    <label class="control-label">Atividade</label>
                                    @Html.DropDownList("RamoAtividadeID", new DWM.Models.Enumeracoes.BindDropDownList().RamoAtividade("", ""), new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-3 col-xs-12 col-sm-12">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.IndProprietario, new { @class = "control-label" })
                                    @Html.DropDownList("IndProprietarioPJ", App_Dominio.Enumeracoes.DropDownListEnum.SimNao("S", ""), new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-12 col-sm-12">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.senha, new { @class = "control-label" })
                                    <input type="password" id="pwd" name="pwd" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-12 col-sm-12">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.confirmacaoSenha, new { @class = "control-label" })
                                    <input type="password" id="pwdConfirm" name="pwdConfirm" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="submit" class="btn btn-success" value="Salvar" onclick="return valida()"/>
                                <input type="button" onclick="window.location = '/Account/Login/@Model.Condominio.PathInfo'" class="btn btn-default" value="Cancelar" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <section class="footer text-white text-right" style="background-color: #000;">
        <div class="container-fluid">
            <p class="text-muted margem-top-10">Criado por <a href="http://www.dwmsistemas.com" class="text-danger">DWM SISTEMAS</a></p>
        </div>
    </section>

    <script type="text/javascript">

        $("#IndFiscal").mask("999.999.999-99");
        $("#cnpj").mask("99.999.999/9999-99");
        $("#TelParticular1").mask("(99)9999?9-9999");
        $("#TelParticular2").mask("(99)9999?9-9999");

        AtivaPessoa();

        function valida() {
            if ($('#TipoCondomino').val() == "J")
            {
                $('#senha').val($('#pwd').val());
                $('#confirmacaoSenha').val($('#pwdConfirm').val());
                $('#IndFiscal').val($('#cnpj').val());
                $('#IndProprietario').val($('#IndProprietarioPJ').val());
            }
            return true;
        }

        function ChangeTipoCondomino() {
            var link = "/Account/GetUnidade";
            link = encodeURI(link + '?CondominioID=' + $('#CondominioID').val() + '&EdificacaoID=' + $('#EdificacaoID').val() + '&UnidadeID=' + $('#UnidadeID').val());
            link = encodeURI(link + '&noCahce=' + new Date());
            $.ajax({
                type: "POST",
                url: link,
                contentType: "application/json; charset=utf-8",
                global: false,
                async: false,
                dataType: "json",
                success: function (jsonObj) {
                    var TipoCondomino = jsonObj.TipoCondomino;
                    $('#TipoCondomino').val(TipoCondomino);
                    AtivaPessoa();
                }
            });
        }

        function AtivaPessoa() {
            if ($('#TipoCondomino').val() == "F") {
                $("#div-PF").show();
                $("#div-PJ").hide();
                $('#Administrador').val('');
                $('#cnpj').val('');
            }
            else {
                $("#div-PJ").show();
                $("#div-PF").hide();
                $('#IndFiscal').val('');
                $('#DataNascimento').val('');
            }
        }

        function GetUnidades(thisId, nextId, tag) {

            var link = "/Account/GetNames";
            var _Id = "";
            var _tag = "";

            // Recupera o VALUE do dropdownlist selecionado
            _Id = $("#" + thisId + " option:selected").val();

            if (_Id == "") {
                $('#' + nextId).html('<select class="form-control input-sm" id="' + nextId + '" name="' + nextId + '"><option value="">Selecione...</option></select>');
                return
            }

            link = encodeURI(link + '?term=' + _Id);

            // Recupera o campo adicional TAG
            if (tag != '') {
                _tag = $("#" + tag).val();
                link = encodeURI(link + '&tag=' + _tag);
            }

            CarregandoIn();

            link = encodeURI(link + '&noCahce=' + new Date());

            $.ajax({
                type: "POST",
                url: link,
                contentType: "application/json; charset=utf-8",
                global: false,
                async: false,
                dataType: "json",
                success: function (jsonObj) {
                    var listItems = "";

                    for (i in jsonObj) {
                        listItems += "<option value='" + jsonObj[i].Value + "'>" + jsonObj[i].Text + "</option>";
                    }
                    $("#" + nextId).html(listItems);
                    AtivaPessoa();
                    $('#carregando').css("visibility", "hidden");
                    $('#carregando').css("height", "0px");
                    $('#carregando').css("margin-top", "0%");
                    $('#carregando').css("margin-left", "0%");
                }
            });
        }

    </script>
    <script src="../Content/vendors/iCheck/icheck.min.js"></script>
    <script src="../Content/production/js/custom.js"></script>
</body>
</html>