@model System.Web.Mvc.PagedList<DWM.Models.Repositories.AluguelEspacoViewModel>
@{
    Layout = null;
}
@if (Model != null)
{
    <div class="dashboard-widget-content">
        @if (ViewBag.unidades == null)
        {
            <div class="row">
                <div class="col-md-8">
                    Clique nos botões de <code>Ação</code> para executar a ação desejada
                </div>
            </div>
            <p>&nbsp;</p>
        }

        <div class="table-responsive">
            <table class="table table-striped jambo_table bulk_action" id="datatable">
                <thead>
                    <tr class="headings">
                        <th class="col-md-2 column-title text-center nobr">Ação</th>
                        <th class="column-title">Data do Evento</th>
                        <th class="column-title">Espaço</th>
                        <th class="column-title">Edificação</th>
                        <th class="column-title">Unidade</th>
                        <th class="column-title">Nome do Condômino</th>
                        <th class="column-title">Nome do Credenciado</th>
                        <th class="column-title">Valor</th>
                        <th class="column-title">Situação</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (DWM.Models.Repositories.AluguelEspacoViewModel ae in Model)
                    {
                        <tr class="even pointer">
                            <td class="text-center">
                                <button type="button" class="btn btn-primary btn-sm glyphicon glyphicon-edit" title="Editar" onclick="window.location='Edit?visitanteID=@ae.AluguelID'"></button>
                                <button type="button" class="btn btn-danger btn-sm glyphicon glyphicon-trash" title="Excluir" onclick="window.location='Delete?visitanteID=@ae.AluguelID'"></button>
                            </td>
                            <td>
                                <span>@ae.DataEvento</span>
                            </td>
                            <td>
                                <span>@ae.DescricaoEspaco</span><br />
                            </td>
                            <td>
                                <span>@ae.EdificacaoID</span>
                            </td>
                            <td>
                                <span>@ae.UnidadeID</span><br />
                            </td>
                            <td>
                                <span>@ae.NomeCondomino</span>
                            </td>
                            <td>
                                <span>@ae.NomeCredenciado</span>
                            </td>
                            <td>
                                <span>@ae.Valor</span>
                            </td>
                            <td>
                                @if (ae.DataAutorizacao == null)
                                {
                                    <span>Reservado</span>
                                }
                                else
                                {
                                    <span>Confirmado</span>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
else
{
    @Html.Partial("_AcessoNegadoModal")
}


<!-- Datatables -->
<script src="../Content/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="../Content/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

<script>
    $('#datatable').DataTable({
        lengthMenu: [[15, 25, 50, 100, -1], [15, 25, 50, 100, "Todos"]],
        iDisplayLength: 50,
        language: {
            "url": "../Scripts/DataTablePtBr.txt"
        },
    });
</script>


