@using App_Dominio.Repositories
@using App_Dominio.Models
@model PagedList<DWM.Models.Repositories.AluguelEspacoViewModel>
@{
    TransacaoRepository[] t = { new TransacaoRepository(), new TransacaoRepository() };
    t[0].url = "../Aluguel/Create";
    t[0].nomeCurto = "Incluir";
    t[0].exibir = "S";
    t[0].referencia = "";

    t[1].url = "../Home/Default";
}
<!-- Datatables -->
<link href="../Content/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
<div>
    @Html.Partial("_alerts")
    <div class="x_panel">
        <div class="x_title">
            <div class="row">
                <div class="col-md-11">
                    <h2>Minhas Reservas</h2>
                </div>
                <div class="col-md-1">
                    <ul class="nav navbar-right panel_toolbox pull-right">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                @{
                                    for (int i = 0; i <= t.Length - 2; i++)
                                    {
                                        if (t[i].url != null && t[i].url.Trim() != "")
                                        {
                                            <li>
                                                <a href="@t[i].url" onclick="@t[i].referencia">@t[i].nomeCurto</a>
                                            </li>
                                        }
                                        else if (t[i].uri != null && t[i].uri.Trim() != "")
                                        {
                                            <li>
                                                <a href="#@t[i].uri" onclick="@t[i].referencia">@t[i].nomeCurto</a>
                                            </li>
                                        }
                                    }
                                }
                                @if (ViewData.Model is System.Web.Mvc.IPagedList)
                                {
                                    @Html.Partial("PaginacaoRegistros", (System.Web.Mvc.IPagedList)ViewData.Model)
                                }
                            </ul>
                        </li>
                        <li>
                            <a href="@t[t.Length-1].url" class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

        <div class="x_content">
            <div id="div-list">
                @if (Model != null)
                {
                    @Html.Partial("ListReservas", Model)
                }
            </div>
            <div class="altura-35">
                @Html.Partial("_defaultListButtons", new List<ButtonRepository> { new ButtonRepository() { linkText = "Incluir", actionName = "Create", controllerName = "Aluguel", buttonType = "link" } })
            </div>
        </div>
    </div>
</div>




