@using App_Dominio.Repositories
@using App_Dominio.Enumeracoes
@model DWM.Models.Repositories.ArquivoViewModel
@{
    TransacaoRepository[] t = { new TransacaoRepository(), new TransacaoRepository() };
    t[0].url = "../Documentos/Browse";
    t[0].nomeCurto = "Listar";
    t[0].referencia = "";

    t[1].url = "../Home/Default";

    var path = Model.Path();
}

<div class="container-cadastro">
    @Html.Partial("_alerts")
    <div class="x_panel">
        @Html.EditorFor(info => Model, "FORMULARIO", new { Brand = "Documentos", Descricao = "Editar arquivo na nuvem", Transacao = t })
        <div class="x_content">
            @using (Html.BeginForm("Edit", "Documentos", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
            {
                @Html.HiddenFor(info => info.CondominioID)
                @Html.HiddenFor(info => info.FileID)
                @Html.HiddenFor(info => info.Data)
                <div class="row">
                    <div class="col-md-3 col-xs-12 col-sm-12">
                        <div class="form-group">
                            @Edificacao.Bloco(Model.empresaId)
                            @Html.DropDownList("EdificacaoID", new DWM.Models.Enumeracoes.BindDropDownList().Edificacoes("Selecione...", Model.EdificacaoID.ToString(), Model.empresaId), new { @class = "form-control", @onchange = "GetSelectListOnCascade('EdificacaoID','UnidadeID', 'CondominioID')" })
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-12 col-sm-12">
                        <div class="form-group">
                            <label class="control-label">Unidade</label>
                            @Html.DropDownList("UnidadeID", new DWM.Models.Enumeracoes.BindDropDownList().Unidades("Selecione...", "", Model.EdificacaoID ?? 0, Model.empresaId), new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xs-12 col-sm-12">
                        <div class="form-group">
                            <label class="control-label">Grupo/Condômino</label>
                            @Html.DropDownList("GrupoCondominoID", new DWM.Models.Enumeracoes.BindDropDownList().GrupoCondominos("Todos...", "", Model.empresaId), new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xs-12 col-sm-12">
                        <div class="form-group">
                            <label class="control-label">Sempre visível</label>
                            @Html.DropDownList("IndSempreVisivel", DropDownListEnum.SimNao(Model.IndSempreVisivel), new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-xs-12 col-sm-12">
                        <div class="form-group">
                            <label class="control-label">Nome do documento</label>
                            <div class="input-group col-md-12">
                                <input type="text" id="Nome" name="Nome" value="@Model.Nome" class="form-control" maxlength="40" placeholder="Informar o nome do Documento" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label class="control-label">Arquivo</label>
                            <p>
                                <a class="text-primary" data-toggle="modal" data-target="#myModal1" onclick="visualizar('@Model.FileID', '@Model.Extension()', '@Model.Nome')" href="#" title="Clique para visualizar o anexo"><strong>@Model.Nome</strong></a>
                                <br /><small class="text-prateado">@Model.Data.ToString("dd/MM/yyyy")</small>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="ln_solid"></div>
                <div class="row clearfix">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="submit" class="btn btn-success" value="Salvar" name="btn-salvar" id="btn-salvar" />
                            <input type="button" onclick="window.location = '../Documentos/Browse'" class="btn btn-default" value="Cancelar" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<!-- Model Anexos -->
<div id="myModal1" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content hidden-xs">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="btnModal">×</button>
                <h3 class="modal-title" id="myModalLabel">Modal title</h3>
            </div>
            <div class="modal-body" id="myModal1-body">
                <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Fechar</button>
            </div>
        </div>
    </div>
</div>

<script>
    function visualizar(arquivo, extensao, nome_original) {

        if ('.jpeg|.JPEG|.jpg|.JPG|.png|.PNG|.bmp|.BMP'.indexOf(extensao.toLowerCase()) >= 0)
            $('#myModal1-body').html('<img src="@path.Replace("~","..")' + arquivo + '" class="img-responsive" alt="Responsive image" style="height: 600px">');
        else if (extensao.toLowerCase() == '.pdf')
            $('#myModal1-body').html('<iframe style="height: 600px; width: 100%" src="@path.Replace("~", "..")' + arquivo + '"></iframe>');

        $('#myModalLabel').text(nome_original);
    }
</script>


