@using App_Dominio.Models
@model System.Web.Mvc.PagedList<DWM.Models.Repositories.ArquivoViewModel>
@{
    Layout = null;
}
@if (Model != null)
{
    <div class="dashboard-widget-content">
        <p>
            Clique nos botões de <code>Ação</code> para executar a ação desejada
            <a href="../Documentos/Create" class="text-primary">Incluir</a>
        </p>
        <div class="table-responsive">
            <table class="table table-striped jambo_table bulk_action">
                <thead>
                    <tr class="headings">
                        <th class="column-title text-center nobr">Ação</th>
                        <th class="column-title">Data</th>
                        <th class="column-title text-left">Arquivo</th>
                        <th class="column-title text-left">Edificação</th>
                        <th class="column-title text-center">Unidade</th>
                        <th class="column-title text-left">Condômino</th>
                        <th class="column-title text-left">Grupo</th>
                        <th class="column-title text-center">Sempre Visível</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (DWM.Models.Repositories.ArquivoViewModel download in Model)
                    {
                        <tr class="even pointer">
                            <td class="text-center">
                                <a href="Edit?FileID=@download.FileID" title="Editar"><i class="fa fa-edit fa-2x"></i></a>&nbsp;
                                <a href="Delete?FileID=@download.FileID" title="Excluir"><i class="fa fa-trash fa-2x"></i></a>&nbsp;
                                <a href="@download.MapFile().Replace("~","..")" title="Download" target="_blank"><i class="fa fa-download fa-2x"></i></a>
                            </td>
                            <td>
                                <span>@download.Data</span>
                            </td>
                            <td>
                                <span>@download.Nome</span>
                            </td>
                            <td>
                                <span>@download.EdificacaoDescricao</span>
                            </td>
                            <td>
                                <span class="text-center">@download.UnidadeID</span>
                            </td>
                            <td>
                                <span>@download.CondominoNome</span>
                            </td>
                            <td>
                                <span>@download.GrupoCondominoDescricao</span>
                            </td>
                            <td class="text-center">
                                @if (download.IndSempreVisivel == "S")
                                {
                                    <span class="label label-default">Sim</span>
                                }
                                else
                                {
                                    <span>Não</span>
                                }

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @Html.Partial("Paginacao", Model)
    </div>
}
else
{
    @Html.Partial("_AcessoNegadoModal")
}







