@using DWM.Models.Repositories
@using DWM.Models.Entidades
@model System.Web.Mvc.PagedList<DWM.Models.Repositories.VisitanteAcessoViewModel>
@{
    Layout = null;
    SessaoLocal s = (SessaoLocal)ViewBag.SessaoLocal;
    var riscado = "";
}
@if (Model != null)
{
    <div class="dashboard-widget-content">
        <div class="row">
            <div class="col-md-8">
                Clique nos botões de <code>Ação</code> para executar a ação desejada ou informe o <code>Nome</code>, <code>RG/CPF</code> para buscar o Visitante
            </div>
        </div>
        <p>&nbsp;</p>
        <div class="table-responsive">
            <table class="table table-striped jambo_table bulk_action table-responsive display" id="datatable">
                <thead>
                    <tr class="headings">
                        <th class="column-title text-center">Ação</th>
                        <th class="column-title text-center">#ID</th>
                        <th class="column-title">Visitante/Prestador</th>
                        <th class="column-title">Edificação</th>
                        <th class="column-title text-left">Unidade</th>
                        @if (s.CondominoID > 0)
                        {
                            <th class="column-title">Data</th>
                        }
                        else
                        {
                            <th class="column-title">Condômino</th>
                        }
                        <th class="column-title">Prestador</th>
                        <th class="column-title">Placa</th>
                        <th class="column-title text-center">Hora início</th>
                        <th class="column-title text-center">Hora Limite</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (VisitanteAcessoViewModel value in Model)
                    {
                        if (value.DataAcesso != null)
                        {
                            riscado = "line-through";
                        }
                        else
                        {
                            riscado = "";
                        }
                        <tr class="even pointer">
                            <td class="text-center">
                                @if (value.IsPortaria)
                                {
                                    if (value.DataAcesso == null)
                                    {
                                        <button type="button" class="btn btn-primary btn-sm glyphicon glyphicon-edit" title="Editar" onclick="window.location='Edit?AcessoID=@value.AcessoID'"></button>
                                    }
                                    else
                                    {
                                        <button type="button" class="btn btn-primary btn-sm glyphicon glyphicon-edit" title="Visitante já acessou o condomínio. Edição não permitida"></button>
                                    }
                                }
                                else
                                {
                                    if (value.DataAcesso == null)
                                    {
                                        <button type="button" class="btn btn-primary btn-sm glyphicon glyphicon-edit" title="Editar" onclick="window.location='Edit?AcessoID=@value.AcessoID'"></button>
                                        <button type="button" class="btn btn-danger btn-sm glyphicon glyphicon-trash" title="Excluir" onclick="window.location='Delete?AcessoID=@value.AcessoID'"></button>
                                    }
                                    else
                                    {
                                        <button type="button" class="btn btn-primary btn-sm glyphicon glyphicon-edit" title="Visitante já acessou o condomínio. Edição não permitida"></button>
                                        <button type="button" class="btn btn-danger btn-sm glyphicon glyphicon-trash" title="Visitante já acessou o condomínio. Exclusão não permitida"></button>
                                    }
                                }
                            </td>
                            <td class="center">
                                <h3 style="text-decoration: @riscado">@value.AcessoID</h3>
                            </td>
                            <td>
                                <div class="row">
                                    <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
                                        <img src="@value.Visitante.Avatar("100")" width="100" class="img-thumbnail img-responsive" />
                                    </div>
                                    <div class="col-md-8 col-lg-8 col-sm-8 col-xs-8">
                                        <div class="row">
                                            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                                <h4 style="text-decoration: @riscado">@value.Visitante.Nome</h4>
                                                <small>@value.Visitante.Sexo</small><br />
                                                <small>RG: <strong>@(value.Visitante.RG + " " + value.Visitante.OrgaoEmissor)</strong></small><br />
                                                <small>CPF: @value.Visitante.CPF</small><br />
                                                @if (value.DataAcesso.HasValue)
                                                {
                                                    <small>Hora de Acesso: @value.DataAcesso.Value.ToString("dd/MM/yyyy HH:mm")</small>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <small>@value.Visitante.DescricaoEdificacao</small>
                            </td>
                            <td class="text-left">
                                <small>@value.Visitante.UnidadeID</small>
                            </td>
                            @if (s.CondominoID > 0)
                            {
                                <td>
                                    <small>@value.DataAutorizacao.ToString("dd/MM/yyyy")</small>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <small>@value.Visitante.NomeCondomino</small>
                                </td>
                            }
                            <td>
                                <small>@value.Visitante.DescricaoTipoPrestador</small>
                            </td>
                            <td>
                                <small>@value.Visitante.Placa</small>
                            </td>
                            <td class="text-center">
                                <small>@value.HoraInicio</small>
                            </td>
                            <td class="text-center">
                                <small>@value.HoraLimite</small>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
else
{
    @Html.Partial("_AcessoNegadoModal")
}


<!-- Datatables -->
<script src="../Content/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="../Content/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

<script>
    $('#datatable').DataTable({
        lengthMenu: [[15, 25, 50, 100, -1], [15, 25, 50, 100, "Todos"]],
        iDisplayLength: 50,
        language: {
            "url": "../Scripts/DataTablePtBr.txt"
        },
    });
</script>




