@using DWM.Models.Repositories
@using DWM.Models.Entidades
@using App_Dominio.Models
@using App_Dominio.Repositories
@model HomeViewModel
@{
    string _hidden = "";
    string _largura = "col-md-8 col-lg-8";

    if (Model.Informativos.Count() == 0)
    {
        _hidden = "hidden";
        _largura = "col-md-12 col-lg-12";
    }

    SessaoLocal s = (SessaoLocal)ViewBag.SessaoLocal;
    var riscado = "";

    //string[] meses = { "Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho", "Julho", "Agosto", "Setembro", "Outubro", "Novembro", "Dezembro" };
    //string mes = meses[int.Parse(Model.DRE.FirstOrDefault().SaldosContabeis.FirstOrDefault().Competencia.ToString().Substring(4, 2)) - 1] + "/" +
    //             Model.DRE.FirstOrDefault().SaldosContabeis.FirstOrDefault().Competencia.ToString().Substring(0, 4);
}

<!-- Datatables -->
@if (ViewBag.UsuarioPortaria)
{
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#visitantes">Visitantes</a></li>
        <li><a data-toggle="tab" href="#condominos">Condôminos</a></li>
    </ul>

    <!-- Modal -->
    <div class="modal fade" id="visitanteInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <div class="tab-content">
        <div id="visitantes" class="tab-pane fade in active">
            <div style="margin-top: 30px">
                @*@Html.Partial("../Portaria/ListParam", Model.Acessos)*@
                <table class="table table-striped jambo_table bulk_action table-responsive display" id="datatable">
                    <thead>
                        <tr class="headings">
                            <th class="column-title text-center">Ação</th>
                            <th class="column-title text-center">#ID</th>
                            <th class="column-title">Visitante/Prestador</th>
                            <th class="column-title">Edificação</th>
                            <th class="column-title text-center">Unidade</th>
                            @if (s.CondominoID > 0)
                            {
                                <th class="column-title">Data</th>
                            }
                            else
                            {
                                <th class="column-title">Condômino</th>
                            }
                            <th class="column-title">Profissão</th>
                            <th class="column-title">Placa</th>
                            <th class="column-title text-center">Hora início</th>
                            <th class="column-title text-center">Hora Limite</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (VisitanteAcessoViewModel value in (PagedList<VisitanteAcessoViewModel>)Model.Acessos)
                        {
                            if (value.DataAcesso != null)
                            {
                                riscado = "line-through";
                            }
                            else
                            {
                                riscado = "";
                            }
                            <tr class="even pointer">
                                <td class="text-center">
                                    @if (value.DataAcesso == null)
                                    {
                                        <button type="button" class="btn btn-primary btn-sm glyphicon glyphicon-edit" title="Editar" onclick="window.location='../Portaria/Edit?AcessoID=@value.AcessoID'"></button>
                                    }
                                    else
                                    {
                                        <button type="button" class="btn btn-primary btn-sm glyphicon glyphicon-edit" title="Visitante já acessou o condomínio. Edição não permitida"></button>
                                    }
                                </td>
                                <td class="center">
                                    <small>@value.AcessoID</small>
                                </td>
                                <td>
                                    <div class="row">
                                        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
                                            <img src="@value.Visitante.Avatar("100")" width="100" class="img-thumbnail img-responsive" />
                                        </div>
                                        <div class="col-md-8 col-lg-8 col-sm-8 col-xs-8">
                                            <div class="row">
                                                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                                    <small style="text-decoration: @riscado">@value.Visitante.Nome</small><br />
                                                    <small>@value.Visitante.Sexo</small><br />
                                                    <small>RG: @(value.Visitante.RG + " " + value.Visitante.OrgaoEmissor)</small><br />
                                                    <small>CPF: @value.Visitante.CPF</small><br />
                                                    @if (value.DataAcesso.HasValue)
                                                    {
                                                        <small>Hora de Acesso: @value.DataAcesso.Value.ToString("dd/MM/yyyy HH:mm")</small>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <small>@value.Visitante.DescricaoEdificacao</small>
                                </td>
                                <td class="text-center">
                                    <small>@value.Visitante.UnidadeID</small>
                                </td>
                                @if (s.CondominoID > 0)
                                {
                                    <td>
                                        <small>@value.DataAutorizacao.ToString("dd/MM/yyyy")</small>
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <small>@value.Visitante.NomeCondomino</small>
                                    </td>
                                }
                                <td>
                                    <small>@value.Visitante.DescricaoTipoPrestador</small>
                                </td>
                                <td>
                                    <small>@value.Visitante.Placa</small>
                                </td>
                                <td class="text-center">
                                    <small>@value.HoraInicio</small>
                                </td>
                                <td class="text-center">
                                    <small>@value.HoraLimite</small>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="altura-35">
                    @Html.Partial("_defaultListButtons", new List<ButtonRepository> { new ButtonRepository() { linkText = "Incluir", actionName = "Create", controllerName = "Portaria", buttonType = "link" } })
                </div>

            </div>
        </div>
        <div id="condominos" class="tab-pane fade">
            <div style="margin-top: 30px">
                <table class="table table-striped jambo_table bulk_action table-responsive display">
                    <thead>
                        <tr class="headings">
                            <th class="column-title text-center">Ação</th>
                            <th class="column-title text-center">Edificação</th>
                            <th class="column-title text-center">Unidade</th>
                            <th class="column-title">Nome</th>
                            <th class="column-title text-center">Sexo</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (CondominoUnidadeViewModel value in Model.Condominos)
                        {
                            <tr class="even pointer">
                                <td class="center">
                                    <button type="button" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#visitanteInfo">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </button>
                                    
                                </td>
                                <td align="center">
                                    @value.EdificacaoDescricao
                                </td>
                                <td align="center">
                                    @value.UnidadeID
                                </td>
                                <td>
                                    @value.CondominoViewModel.Nome
                                </td>
                                <td align="center">
                                    @(((CondominoPFViewModel)value.CondominoViewModel).Sexo)
                                </td>
                            </tr>
                        }
                        @foreach (CredenciadoViewModel cred in Model.Credenciados)
                        {
                            <tr class="even pointer">
                                <td>
                                    Lupa
                                </td>
                                <td align="center">
                                    @cred.DescricaoEdificacao
                                </td>
                                <td align="center">
                                    @cred.UnidadeID
                                </td>
                                <td>
                                    @cred.Nome
                                </td>
                                <td align="center">
                                    @cred.Sexo
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12" @_hidden>
            <!-- Informativos -->
            <div class="x_panel">
                <div class="x_title">
                    <h2>Informativos</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Settings 1</a>
                                </li>
                                <li>
                                    <a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="dashboard-widget-content">
                        <ul class="list-unstyled timeline widget">
                            @foreach (InformativoViewModel inf in Model.Informativos)
                            {
                                <li>
                                    <div class="block">
                                        <div class="row clearfix">
                                            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                                <div class="block_content">
                                                    <h2 class="title">
                                                        @if (inf.DataPublicacao.AddDays(3) > Funcoes.Brasilia().Date)
                                                        {
                                                            <a id="prev_title">@inf.Cabecalho</a><img src="http://www.ultimodesconto.com/img/novo.gif" alt="" class="pull-right" />
                                                        }
                                                        else
                                                        {
                                                            <a id="prev_title">@inf.Cabecalho</a>
                                                        }
                                                    </h2>
                                                    <div class="byline">
                                                        <span id="prev_data">@inf.DataPublicacao.ToShortDateString()</span>
                                                    </div>
                                                    <p class="excerpt img-responsive">
                                                        @Html.Raw(inf.Resumo)
                                                    </p>
                                                    <p class="dedo-indicador" id="readmore"><code data-toggle="modal" data-target="#@inf.InformativoID">Leia mais...</code></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Fim-Informativos -->
        </div>
        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
            <!-- Documentos p/ download -->
            <div class="row clearfix">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Documentos <small>Download</small></h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li>
                                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li>
                                            <a href="#">Settings 1</a>
                                        </li>
                                        <li>
                                            <a href="#">Settings 2</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="close-link"><i class="fa fa-close"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div id="div-download">
                                @if (Model != null && Model.Documentos != null && Model.Documentos.TotalCount > 0)
                                {
                                    @Html.Partial("../Documentos/ListParamHome", Model.Documentos)
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Documentos p/ download -->
        </div>
    </div>
    <br />

    @* Modal *@
    foreach (InformativoViewModel inf in Model.Informativos)
    {
        <div id="@inf.InformativoID" class="modal fade" role="dialog" aria-labelledby="myModalLabelPreview" aria-hidden="true">
            <div class="modal-dialog modal-lg hidden-xs">
                <div class="modal-content">
                    <div class="modal-header bg-primary">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="btnModalPreview">×</button>
                        <h3 class="modal-title" id="myLabelPreview">
                            @inf.Cabecalho
                        </h3>
                    </div>
                    <div class="modal-body img-responsive" id="myModal1-body-preview">
                        <p>@Html.Raw(inf.MensagemDetalhada)</p>
                    </div> 
                    <div class="modal-footer">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">Fechar</button>
                    </div>
                </div>
            </div>
            <div class="modal-dialog modal-sm hidden-lg hidden-md hidden-sm">
                <div class="modal-content">
                    <div class="modal-header bg-primary">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="btnModalPreview">×</button>
                        <h3 class="modal-title" id="myModalLabelPreview">@inf.Cabecalho</h3>
                    </div>
                    <div class="modal-body img-responsive Scroll" id="myModal1-body-preview">
                        <p>@Html.Raw(inf.MensagemDetalhada)</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">Fechar</button>
                    </div>
                </div>
            </div>
        </div>
    }
    @* Fim do Modal *@
}



<script src="../Content/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="../Content/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script>
    $('table.display').DataTable({
        lengthMenu: [[15, 25, 50, 100, -1], [15, 25, 50, 100, "Todos"]],
        iDisplayLength: 50,
        language: {
            "url": "../Scripts/DataTablePtBr.txt"
        },
        autoWidth: false,
    });
</script>

@if (!ViewBag.UsuarioPortaria)
{
    <!-- morris.js -->
    <script src="../Content/vendors/raphael/raphael.min.js"></script>
    <script src="../Content/vendors/morris.js/morris.min.js"></script>
    <!-- Custom Theme Scripts -->
    @*<script src="../Content/production/js/custom.js"></script>*@
    <!-- morris.js -->


    <script>
    

    @*var viewModel = @Html.Raw(Json.Encode(Model.js.Data))*@

    //$(document).ready(function () {
    //    Morris.Bar({
    //        element: 'graph_bar',
    //        data: viewModel,
    //        xkey: 'device',
    //        ykeys: ['geekbench'],
    //        labels: ['Valor'],
    //        barRatio: 0.9,
    //        barColors: ['#26B99A', '#34495E', '#ACADAC', '#3498DB'],
    //        xLabelAngle: 0,
    //        hideHover: 'auto',
    //        resize: false
    //    });
    //});

    </script>

    <!-- Doughnut Chart -->
    @*<script>
              $(document).ready(function(){
                var options = {
                  legend: true,
                  responsive: false
                };

                var _data = @Html.Raw(Json.Encode(data));
                var _labels = @Html.Raw(Json.Encode(labels));
                var _backgroundColor = @Html.Raw(Json.Encode(color));

                new Chart(document.getElementById("canvas1"), {
                  type: 'doughnut',
                  tooltipFillColor: "rgba(51, 51, 51, 0.55)",
                  data: {
                    labels: _labels,
                    datasets: [{
                      data: _data,
                      backgroundColor: _backgroundColor,
                      //hoverBackgroundColor: _backgroundColor
                    }]
                  },
                  options: options
                });
              });
        </script>*@
    <!-- /Doughnut Chart -->
}
