@using DWM.Models.Repositories
@using App_Dominio.Models
@model DWM.Models.Repositories.HomeViewModel
@{ 
    string _hidden = "";
    string _largura = "col-md-8 col-lg-8";

    if (Model.Informativos.Count() == 0)
    {
        _hidden = "hidden";
        _largura = "col-md-12 col-lg-12";
    }

    string[] meses = { "Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho", "Julho", "Agosto", "Setembro", "Outubro", "Novembro", "Dezembro" };
    string mes = meses[int.Parse(Model.DRE.FirstOrDefault().SaldosContabeis.FirstOrDefault().Competencia.ToString().Substring(4, 2)) - 1] + "/" +
                 Model.DRE.FirstOrDefault().SaldosContabeis.FirstOrDefault().Competencia.ToString().Substring(0, 4);
}
<!-- top tiles -->
<div class="row tile_count">
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> Total Condôminos</span>
        <div class="count">@Model.TotalCondominos</div>
        <span class="count_bottom"><i class="green">@Model.TotalUnidadesCadastradas </i> Unidades cadastradas</span>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> Inadimplência</span>
        <div class="count red">@Model.ValorInadimplenciaTotal.ToString("##0") mil</div>
        <span class="count_bottom"><i class="red"><i class="fa fa-sort-asc"></i>@Model.ValorInadimplenciaCompetencia.ToString("##0") mil </i> @Model.ContabilidadeCompetencia</span>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-clock-o"></i> Fluxo de caixa anterior</span>
        <div class="count">@Model.ValorSaldoAnterior.ToString("##0") mil</div>
        <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i></i> anterior à @Model.ContabilidadeCompetencia</span>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> Receitas</span>
        <div class="count green">@Model.ValorReceitaCompetenciaRealizada.ToString("##0") mil</div>
        <span class="count_bottom"><i class="green"><i class="fa fa-sort-desc"></i>@(((Model.ValorReceitaCompetenciaRealizada / Model.ValorReceitaCompetenciaPlanejada)).ToString("##0%")) </i> Realizado @Model.ContabilidadeCompetencia</span>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> Despesas</span>
        <div class="count red">@Model.ValorDespesaCompetenciaRealizada.ToString("##0") mil</div>
        <span class="count_bottom"><i class="red"><i class="fa fa-sort-asc"></i>@(((Model.ValorDespesaCompetenciaRealizada / Model.ValorReceitaCompetenciaRealizada)).ToString("##0%"))</i> da receita de @Model.ContabilidadeCompetencia</span>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> Fluxo de caixa atual</span>
        <div class="count">@Model.ValorSaldoAtual.ToString("##0") mil</div>
        <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i> </i> @Model.ContabilidadeCompetencia</span>
    </div>
</div>
<!-- /top tiles -->
<div class="row">
    <div class="col-md-4 col-sm-4 col-xs-12" @_hidden>
        <!-- Informativos -->
        <div class="x_panel">
            <div class="x_title">
                <h2>Informativos</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#">Settings 1</a>
                            </li>
                            <li>
                                <a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="dashboard-widget-content">
                    <ul class="list-unstyled timeline widget">
                        @foreach (InformativoViewModel inf in Model.Informativos)
                        {
                            <li>
                                <div class="block">
                                    <div class="row clearfix">
                                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                            <div class="block_content">
                                                <h2 class="title">
                                                    @if (inf.DataPublicacao.AddDays(3) > Funcoes.Brasilia().Date)
                                                    {
                                                        <a id="prev_title">@inf.Cabecalho</a><img src="http://www.ultimodesconto.com/img/novo.gif" alt="" class="pull-right" />
                                                    }
                                                    else
                                                    {
                                                        <a id="prev_title">@inf.Cabecalho</a>
                                                    }
                                                </h2>
                                                <div class="byline">
                                                    <span id="prev_data">@inf.DataPublicacao.ToShortDateString()</span>
                                                </div>
                                                <p class="excerpt">
                                                    @Html.Raw(inf.Resumo)
                                                </p>
                                                <p class="dedo-indicador" id="readmore"><code data-toggle="modal" data-target="#@inf.InformativoID">Leia mais...</code></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <!-- Fim-Informativos -->
    </div>
    <div class="@_largura col-sm-12 col-xs-12">
        <div  class="row clearfix">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <div class="dashboard_graph">
                    <div class="row x_title">
                        <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                            <h3>Receita x Despesa <small>Exercício 2017</small></h3>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        <div id="placeholder33" style="height: 260px; display: none" class="demo-placeholder"></div>
                        <div style="width: 100%;">
                            <div id="canvas_dahs" class="demo-placeholder" style="width: 100%; height:270px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                <!-- Documentos p/ download -->
                <div class="row clearfix">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Documentos <small>Download</small></h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li>
                                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li>
                                                <a href="#">Settings 1</a>
                                            </li>
                                            <li>
                                                <a href="#">Settings 2</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a class="close-link"><i class="fa fa-close"></i></a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <div id="div-download">
                                    @Html.Partial("../Documentos/ListParamHome", Model.Documentos)
                                </div>
                            </div>
                        </div>  
                    </div>
                </div>
                <!-- End to do list -->
                <div class="row clearfix">
                    <!-- bar chart -->
                    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Bar Charts <small>Sessions</small></h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li>
                                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li>
                                                <a href="#">Settings 1</a>
                                            </li>
                                            <li>
                                                <a href="#">Settings 2</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a class="close-link"><i class="fa fa-close"></i></a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <div id="graph_bar" style="width:100%; height:280px;"></div>
                            </div>
                        </div>
                    </div>
                    <!-- /bar charts -->
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                <div class="row clearfix">
                    <!-- Principais Despesas -->
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel tile fixed_height_390 overflow_hidden">
                            <div class="x_title">
                                <h2>Despesas - @mes</h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li>
                                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li>
                                                <a href="#">Settings 1</a>
                                            </li>
                                            <li>
                                                <a href="#">Settings 2</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a class="close-link"><i class="fa fa-close"></i></a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <table class="" style="width:100%">
                                    <tr>
                                        <td>
                                            <canvas id="canvas1" height="140" width="140" style="margin: 15px 10px 10px 0"></canvas>
                                        </td>
                                        <td>
                                            <table class="tile_info">
                                                @{
                                                    string[] color = { "blue", "green", "purple", "aero", "yellow", "red" };
                                                    int index = 0;
                                                    foreach (BalanceteViewModel bal in Model.DRE.Where(info => info.Natureza == "D"))
                                                    {
                                                        <tr>
                                                            <td>
                                                                <p><i class="fa fa-square @color[index++]"></i>@bal.descricao </p>
                                                            </td>
                                                            <td class="pull-right">@bal.SaldosContabeis.FirstOrDefault().ValorSaldo.ToString("###,###,##0") K</td>
                                                        </tr>
                                                    }
                                                }
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <!-- Receitas -->
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel tile fixed_height_390">
                            <div class="x_title">
                                <h2>Receitas - @mes</h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li>
                                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li>
                                                <a href="#">Settings 1</a>
                                            </li>
                                            <li>
                                                <a href="#">Settings 2</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a class="close-link"><i class="fa fa-close"></i></a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                @foreach (BalanceteViewModel bal in Model.DRE.Where(info => info.Natureza == "C"))
                                {
                                    <div class="widget_summary">
                                        <div class="w_left w_25">
                                            <span>@bal.descricao</span>
                                        </div>
                                        <div class="w_center w_55">
                                            <div class="progress">
                                                <div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 66%;">
                                                    <span class="sr-only">60% Complete</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="w_right w_20">
                                            <span class="pull-right">@bal.SaldosContabeis.FirstOrDefault().ValorSaldo.ToString("###,###,##0") K</span>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                }
                                @*<div class="widget_summary">
                                    <div class="w_left w_25">
                                        <span>Taxa Condominial</span>
                                    </div>
                                    <div class="w_center w_55">
                                        <div class="progress">
                                            <div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 66%;">
                                                <span class="sr-only">60% Complete</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="w_right w_20">
                                        <span>300k</span>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="widget_summary">
                                    <div class="w_left w_25">
                                        <span>Renegociação</span>
                                    </div>
                                    <div class="w_center w_55">
                                        <div class="progress">
                                            <div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 45%;">
                                                <span class="sr-only">60% Complete</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="w_right w_20">
                                        <span>53k</span>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="widget_summary">
                                    <div class="w_left w_25">
                                        <span>Aluguel de Espaços</span>
                                    </div>
                                    <div class="w_center w_55">
                                        <div class="progress">
                                            <div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 25%;">
                                                <span class="sr-only">60% Complete</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="w_right w_20">
                                        <span>23k</span>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="widget_summary">
                                    <div class="w_left w_25">
                                        <span>Fundo de Reserva</span>
                                    </div>
                                    <div class="w_center w_55">
                                        <div class="progress">
                                            <div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 15%;">
                                                <span class="sr-only">60% Complete</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="w_right w_20">
                                        <span>13k</span>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="widget_summary">
                                    <div class="w_left w_25">
                                        <span>Taxa Extraordiária</span>
                                    </div>
                                    <div class="w_center w_55">
                                        <div class="progress">
                                            <div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 42%;">
                                                <span class="sr-only">60% Complete</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="w_right w_20">
                                        <span>110k</span>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="widget_summary">
                                    <div class="w_left w_25">
                                        <span>Acordo Judicial</span>
                                    </div>
                                    <div class="w_center w_55">
                                        <div class="progress">
                                            <div class="progress-bar bg-green" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 12%;">
                                                <span class="sr-only">60% Complete</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="w_right w_20">
                                        <span>25k</span>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>*@
                            </div>
                        </div>
                    </div>
                    <!-- Fim-Receitas -->
                </div>
            </div>
        </div>
    </div>
</div>
<br />

@* Modal *@
@foreach (InformativoViewModel inf in Model.Informativos)
{
    <div id="@inf.InformativoID" class="modal fade" role="dialog" aria-labelledby="myModalLabelPreview" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content hidden-xs">
                <div class="modal-header bg-primary">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="btnModalPreview">×</button>
                    <h3 class="modal-title" id="myModalLabelPreview">@inf.Cabecalho</h3>
                </div>
                <div class="modal-body Scroll" id="myModal1-body-preview" style="height: 700px">
                    <p>@Html.Raw(inf.MensagemDetalhada)</p>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Fechar</button>
                </div>
            </div>
        </div>
    </div>
}
@* Fim do Modal *@

<!-- morris.js -->
<script src="../Content/vendors/raphael/raphael.min.js"></script>
<script src="../Content/vendors/morris.js/morris.min.js"></script>
<!-- Custom Theme Scripts -->
<script src="../Content/production/js/custom.js"></script>
<!-- morris.js -->

<script>

    var viewModel = @Html.Raw(Json.Encode(Model.js.Data))

    $(document).ready(function () {
        Morris.Bar({
            element: 'graph_bar',
            data: viewModel,
            //data: [
            //  { device: 'iPhone 4', geekbench: 380 },
            //  { device: 'iPhone 4S', geekbench: 655 },
            //  { device: 'iPhone 3GS', geekbench: 275 },
            //  { device: 'iPhone 5', geekbench: 1571 },
            //  { device: 'iPhone 5S', geekbench: 655 },
            //  { device: 'iPhone 6', geekbench: 2154 },
            //  { device: 'iPhone 6 Plus', geekbench: 1144 },
            //  { device: 'iPhone 6S', geekbench: 2371 },
            //  { device: 'iPhone 6S Plus', geekbench: 1471 },
            //  { device: 'Other', geekbench: 1371 }
            //],
            xkey: 'device',
            ykeys: ['geekbench'],
            labels: ['Valor'],
            barRatio: 0.4,
            barColors: ['#26B99A', '#34495E', '#ACADAC', '#3498DB'],
            xLabelAngle: 35,
            hideHover: 'auto',
            resize: true
        });
    });

</script>