@using App_Dominio.Repositories
@model DWM.Models.Repositories.EmailTemplateViewModel
@{
    TransacaoRepository[] t = { new TransacaoRepository(), new TransacaoRepository() };
    t[0].url = "../EmailTemplate/Create";
    t[0].nomeCurto = "Incluir";
    t[0].referencia = "";

    t[1].url = "../Home/Default";
}
<link href="~/Content/vendors/summernote/css/summernote.css" rel="stylesheet">

<div class="container-cadastro">
    <div class="x_panel">
        @Html.EditorFor(info => Model, "FORMULARIO", new { Brand = "Modelos de E-mail", Descricao = "Incluir", Transacao = t })
        <div class="x_content">
            @using (Html.BeginForm("Create", "EmailTemplate", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.ValidationSummary("", new { @class = "text-danger" })
                @Html.HiddenFor(info => info.CondominioID)
                <div class="row">
                    <div class="col-md-6 col-xs-12 col-sm-12 col-lg-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Nome, new { @class = "control-label" })
                            <input type="text" class="form-control" name="Nome" id="Nome" value="@Model.Nome" maxlength="30" />
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12 col-sm-12 col-lg-6">
                        <div class="form-group">
                            <label class="control-label">Tipo de e-mail</label>
                            @Html.DropDownList("EmailTipoID", new DWM.Models.Enumeracoes.BindDropDownList().EmailTipos("Selecione...", Model.EmailTipoID, Model.CondominioID), new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <p>&nbsp;</p>
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                        <div class="form-group">
                            <label class="control-label">Corpo do e-mail</label>
                            <input type="hidden" name="EmailMensagem" id="EmailMensagem" value="@Model.EmailMensagem" />
                            <div id="summernote">@Model.EmailMensagem</div>
                        </div>
                    </div>
                </div>
                <div class="ln_solid"></div>
                <div class="row clearfix">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="submit" class="btn btn-success" value="Salvar" name="btn-salvar" id="btn-salvar" onclick = "return Valida();" />
                            <input type="button" onclick="window.location = '../EmailTemplate/Browse'" class="btn btn-default" value="Cancelar" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<!--Summernote-->
<script>
    $(document).ready(function () {
        $('#summernote').summernote({
            lang: 'pt-BR',
            height: 450,
            //toolbar: [
            //   // [groupName, [list of button]]
            //   ['style', ['bold', 'italic', 'underline', 'clear']],
            //   ['font', ['strikethrough', 'superscript', 'subscript']],
            //   ['fontsize', ['fontsize']],
            //   ['color', ['color']],
            //   ['para', ['ul', 'ol', 'paragraph']],
            //   ['height', ['height']]
            //]
        });
        $('#EmailMensagem').html('@Model.EmailMensagem');
        $('#summernote').summernote('code', $('#EmailMensagem').val());
    });

    function Valida() {
        $('#EmailMensagem').val($('#summernote').summernote('code'));
        return true;
    }

</script>

