@using System.Linq
@using App_Dominio.Repositories
@using DWM.Models.Repositories
@model ChamadoViewModel
@{
    Layout = null;
    var path = Model.Path();
}

@if (Model != null)
{
    foreach (ChamadoAnexoViewModel anexo in Model.Anexos)
    {
        string[] _nome = anexo.Nome.Split();
        <div class="row clearfix">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <a class="text-primary" data-toggle="modal" data-target="#myModal1" onclick="visualizar('@anexo.FileID', '@Model.Extension(anexo.FileID)', '@anexo.NomeOriginal')" href="#" title="Clique para visualizar o anexo"><strong>@anexo.NomeOriginal</strong></a>
                <p>
                    <small class="text-prateado">@anexo.DataAnexo.ToString("dd/MM/yyyy")</small>
                    <small class="text-prateado pull-right">@(_nome[0] + (_nome.Length > 1 ? " " + _nome[_nome.Length - 1] : ""))</small>
                </p>
            </div>
        </div>
        <hr />
    }
    //using (Ajax.BeginForm("Anexo", "Chamado", new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "div-anexo" }, new { @class = "form", enctype = "multipart/form-data", @id = "form001", @name = "form001" }))
    if (Model.ChamadoStatusID != 3)
    {
        using (Html.BeginForm("Anexo", "Chamado", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
        {
            <p><h5>Anexar novo arquivo</h5></p>
            <small>Selecione o arquivo desejado. Em seguida clique no botão Salvar para adicionar o arquivo no chamado</small>
            <p>&nbsp;</p>
            <div class="row clearfix">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    @*@Html.Partial("_AjaxAlert", "panel-top")
                        @Html.Partial("_alerts")*@
                    @Html.HiddenFor(info => info.ChamadoID)
                    <div class="form-group">
                        <input id="fileupload1" type="file" name="files1[]">
                        @Html.Hidden("File1ID")
                        @Html.Hidden("NomeOriginal1")
                    </div>
                    <div class="file_name" id="file_name1"></div>
                    <div class="progress" id="progress1">
                        <div id="progress1-bar" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                            <span class="sr-only">0% complete</span>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-12">
                            <input type="submit" class="btn btn-success" id="btn-salvar" value="Salvar" />
                        </div>
                    </div>
                </div>
            </div>
        }
    }
}
else
{
    @Html.Partial("_AcessoNegadoModal")
}

<!-- Model Anexos -->
<div id="myModal1" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content hidden-xs">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="btnModal">×</button>
                <h3 class="modal-title" id="myModalLabel">Modal title</h3>
            </div>
            <div class="modal-body" id="myModal1-body">
                <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Fechar</button>
            </div>
        </div>
    </div>
</div>

<!-- FileUpload --> 
@*<link href="~/Content/css/jquery.fileupload.css" rel="stylesheet" />
<script src="~/Scripts/fileUpload/jquery.ui.widget.js"></script>
<script src="~/Scripts/fileUpload/jquery.fileupload.js"></script>*@

<script>
    //$(function () {
    //    $('#form001').submit(function () {
    //        if ($(this).valid()) {
    //            $.ajax({
    //                url: this.action,
    //                type: this.method,
    //                data: $(this).serialize(),
    //                success: function (result) {
    //                    $('#div-anexo').html(result);
    //                }
    //            });
    //        }
    //        return false;
    //    });
    //});

    //$(document).ready(function () {
    //    FileUpload2('fileupload1', 'File1ID', 'progress1', 'file_name1', 'myModal1', 'arq1', 'trash1', 'NomeOriginal1');
    //});

    function visualizar(arquivo, extensao, nome_original) {
        if ('.jpeg|.JPEG|.jpg|.JPG|.png|.PNG|.bmp|.BMP'.indexOf(extensao.toLowerCase()) >= 0) 
            $('#myModal1-body').html('<img src="@path' + arquivo + '" class="img-responsive" alt="Responsive image" style="height: 600px">');
        else if (extensao.toLowerCase() == '.pdf')
            $('#myModal1-body').html('<iframe style="height: 600px; width: 100%" src="@path' + arquivo + '"></iframe>');

        $('#myModalLabel').text(nome_original);
    }

</script>


