@using System.Linq
@using App_Dominio.Repositories
@using DWM.Models.Repositories
@model ChamadoViewModel
@{
    Layout = null;
}
<link href="~/Content/vendors/summernote/css/summernote.css" rel="stylesheet">
@if (Model != null)
{
    foreach (ChamadoAnotacaoViewModel anotacao in Model.Anotacoes)
    {
        string[] _nome = anotacao.Nome.Split();
        <hr />
        <div class="row clearfix">
            <div class="col-md-1 col-lg-1 hidden-xs">
                <span class="img-responsive">
                    <img src="@anotacao.UsuarioViewModel.Avatar("60")" height="45" class="profile_img">
                </span>
            </div>
            <div class="col-md-11 col-lg-11 col-sm-12 col-xs-12">
                <p>
                    <strong class="text-mama-africa">@(_nome[0] + (_nome.Length > 1 ? " " + _nome[_nome.Length - 1] : ""))</strong><br />
                    <span class="text-prateado">@anotacao.DataAnotacao.ToString("dd/MM/yyyy HH:mm")h.</span>
                </p>
            </div>
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                @Html.Raw(anotacao.Mensagem)
            </div>
        </div>
    }
    if (Model.ChamadoStatusID != 3)
    {
        <hr />
        using (Ajax.BeginForm("EditAnotacao", "Chamado", new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "div-anotacao" }, new { @class = "form", @id = "form001", @name = "form001" }))
        {
            <div class="row clearfix">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    @Html.Partial("_AjaxAlert", "panel-top")
                    @Html.Partial("_alerts")
                    @Html.HiddenFor(info => info.ChamadoID)
                    @Html.HiddenFor(info => info.DescricaoFilaAtendimento)
                    @Html.Hidden("FilaAtendimentoAtualID", Model.FilaAtendimentoID)
                    @Html.HiddenFor(info => info.DescricaoChamadoStatus)
                    @Html.HiddenFor(info => info.IsCondomino)
                    @Html.HiddenFor(info => info.IsUsuarioFila)
                    <div class="form-group">
                        <label class="control-label">Nova Mensagem</label>
                        <input type="hidden" name="Mensagem" id="Mensagem" />
                        <div id="summernote1"></div>
                    </div>
                    @if (Model.IsUsuarioFila)
                    {
                        <div class="form-group">
                            <label class="control-label">Fila de atendimento:</label>
                            @Html.ListBox("_FilaAtendimentoID", new DWM.Models.Enumeracoes.BindDropDownList().Filas("", Model.FilaAtendimentoID ?? 0), new { @class = "form-control", @size = "5", @id = "FilaAtendimentoID" })
                        </div>
                    }
                    else
                    {
                        @Html.Hidden("_FilaAtendimentoID", Model.FilaAtendimentoID)
                    }
                    @if (!Model.IsCondomino)
                    {
                        <div class="form-group">
                            <label class="control-label">Situação:</label>
                            @Html.ListBox("_ChamadoStatusID", new DWM.Models.Enumeracoes.BindDropDownList().ChamadoStatus("", 0).Where(info => info.Text != "Novo"), new { @class = "form-control", @size = "5", @id = "ChamadoStatusID" })
                        </div>
                    }
                    else
                    {
                        @Html.Hidden("_ChamadoStatusID", Model.ChamadoStatusID)
                    }
                    <hr />
                    <div class="row">
                        <div class="col-md-12">
                            <input type="submit" class="btn btn-success" id="btn-salvar" value="Salvar" onclick="return Valida();" />
                        </div>
                    </div>
                </div>
            </div>
        }
    }
}
else
{
    @Html.Partial("_AcessoNegadoModal")
}

<script>
    $('#summernote1').summernote({
        lang: 'pt-BR',
        height: 250,
        toolbar: [
           // [groupName, [list of button]]
           ['style', ['bold', 'italic', 'underline', 'clear']],
           ['font', ['strikethrough', 'superscript', 'subscript']],
           ['fontsize', ['fontsize']],
           ['color', ['color']],
           ['para', ['ul', 'ol', 'paragraph']],
           ['height', ['height']],
           ['insert', ['link', 'picture']]
        ]
    });
    $('#summernote1').summernote('code', $('#Mensagem').val());
    $('#_DescricaoFilaAtendimento').html("@Model.DescricaoFilaAtendimento <small class=\"text-mama-africa\">@Model.DataRedirecionamento.ToString("dd/MM/yyyy HH:mm") h.</small>");
    $('#_DescricaoChamadoStatus').html("@Model.DescricaoChamadoStatus");

    $(function () {
        $('#form001').submit(function () {
            if ($(this).valid()) {
                $.ajax({
                    url: this.action,
                    type: this.method,
                    data: $(this).serialize(),
                    success: function (result) {
                        $('#div-anotacao').html(result);
                    }
                });
            }
            return false;
        });
    });

    function Valida() {
        $('#Mensagem').val($('#summernote1').summernote('code'));
        if ($('#IsUsuarioFila').val() == 'True')
            $('#DescricaoFilaAtendimento').val($("#FilaAtendimentoID option:selected").text());
        if ($('#IsCondomino').val() != 'True')
            $('#DescricaoChamadoStatus').val($("#ChamadoStatusID option:selected").text());

        if ($('#Mensagem').val() == "") {
            ShowMessageAjaxAlert('Mensagem deve ser informada', 'warning');
            return false;
        }

        return true;
    }


</script>

