@using App_Dominio.Repositories
@using DWM.Models.Repositories
@model ChamadoViewModel
@{
    TransacaoRepository[] trans = { new TransacaoRepository(), new TransacaoRepository() };
    trans[0].url = "#panel-condomino";
    trans[0].nomeCurto = "Ir para Condômino";
    trans[0].referencia = "";
    trans[0].exibir = "S";

    trans[1].url = "../Home/Default";

    ViewBag.empresaId = Model.CondominioID;
    ViewBag.CondominoID = Model.CondominoID;
}
<link href="~/Content/vendors/summernote/css/summernote.css" rel="stylesheet">
<div class="container-cadastro">
    @if (!Model.IsFornecedor)
    {
        <div class="row" id="panel-condomino">
            <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                @Html.Partial("../Condomino/Search", Model.Condominos)
            </div>
        </div>
    }
    @using (Html.BeginForm("Create", "Chamado", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
    {
        <!-- Chamado -->
        <div class="x_panel" id="panel-top">
            @Html.EditorFor(info => Model, "FORMULARIO", new { Brand = "Chamado", Descricao = "", Transacao = trans })
            @Html.Partial("_AjaxAlert", "panel-top")
            <div class="x_content">
                @Html.HiddenFor(info => info.CondominioID)
                @Html.HiddenFor(info => info.empresaId)
                @Html.HiddenFor(info => info.Prioridade)
                <input type="hidden" id="__EdificacaoID" name="__EdificacaoID" />
                <input type="hidden" id="__UnidadeID" name="__UnidadeID" />
                <input type="hidden" id="__CondominoID" name="__CondominoID" />
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
                        <div class="form-group">
                            <label class="control-label">Assunto</label>
                            @if (Model.Condominos.Count > 0)
                            {
                                <input type="text" class="form-control" name="Assunto" id="Assunto" value="@Model.Assunto" maxlength="60" onblur="setTotalCount('@Model.Condominos.Count()', '@Model.Condominos[0].CondominoID', '@Model.Condominos[0].EdificacaoID', '@Model.Condominos[0].UnidadeID', '0');" />
                            }
                            else
                            {
                                <input type="text" class="form-control" name="Assunto" id="Assunto" value="@Model.Assunto" maxlength="60" />
                            }
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12">
                        <div class="form-group">
                            <label class="control-label">Motivo</label>
                            @Html.ListBox("_ChamadoMotivoID", new DWM.Models.Enumeracoes.BindDropDownList().ChamadoMotivos("", Model.ChamadoMotivoID), new { @class = "form-control", @size = "5", @id= "ChamadoMotivoID" })
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 col-lg-4 col-xs-12">
                        <div class="form-group">
                            <label class="control-label">Solicitante</label>
                            @Html.ListBox("_FilaSolicitanteID", new DWM.Models.Enumeracoes.BindDropDownList().FilaSolicitante("", Model.FilaSolicitanteID), new { @class = "form-control", @size = "5", @id = "FilaSolicitanteID" })
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12">
                        <div class="form-group">
                            <label class="control-label">Encaminhar para:</label>
                            @Html.ListBox("_FilaAtendimentoID", new DWM.Models.Enumeracoes.BindDropDownList().Filas("", Model.FilaAtendimentoID ?? 0).Where(info => Model.IsCondomino == true ? info.Text != "Condôminos" : true), new { @class = "form-control", @size = "5", @id = "FilaAtendimentoID" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
                        <div class="form-group">
                            <label class="control-label">Mensagem</label>
                            <input type="hidden" name="MensagemOriginal" id="MensagemOriginal" value="@Model.MensagemOriginal" />
                            <div id="summernote1">@Model.MensagemOriginal</div>
                        </div>
                    </div>
                </div>
                
                <h4>Anexos</h4>
                <div class="row clearfix">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <input id="fileupload1" type="file" name="files1[]">
                            @Html.Hidden("File1ID")
                            @Html.Hidden("NomeOriginal1")
                        </div>
                        <div class="file_name" id="file_name1"></div>
                        <div class="progress" id="progress1">
                            <div id="progress1-bar" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                                <span class="sr-only">0% complete</span>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row clearfix">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <input id="fileupload2" type="file" name="files2[]">
                            @Html.Hidden("File2ID")
                            @Html.Hidden("NomeOriginal2")
                        </div>
                        <div class="file_name" id="file_name2"></div>
                        <div class="progress" id="progress2">
                            <div id="progress2-bar" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                                <span class="sr-only">0% complete</span>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row clearfix">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <input id="fileupload3" type="file" name="files3[]">
                            @Html.Hidden("File3ID")
                            @Html.Hidden("NomeOriginal3")
                        </div>
                        <div class="file_name" id="file_name3"></div>
                        <div class="progress" id="progress3">
                            <div id="progress3-bar" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                                <span class="sr-only">0% complete</span>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <input type="submit" class="btn btn-primary hidden" id="btn-salvar" onclick="return Valida();" />
                        <a href="#panel-top" class="btn btn-primary" onclick="$('#btn-salvar').click();">Salvar</a>
                    </div>
                </div>
            </div>
        </div>
    }
    
</div>

<!-- Modal Anexos -->
<div id="myModal1" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content hidden-xs">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="btnModal">×</button>
                <h3 class="modal-title" id="myModalLabel">Modal title</h3>
            </div>
            <div class="modal-body" id="myModal1-body">
                <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Fechar</button>
            </div>
        </div>
    </div>
</div>

<div id="myModal2" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content hidden-xs">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="btnModal">×</button>
                <h3 class="modal-title" id="myModalLabel">Modal title</h3>
            </div>
            <div class="modal-body" id="myModal2-body">
                <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Fechar</button>
            </div>
        </div>
    </div>
</div>

<div id="myModal3" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content hidden-xs">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="btnModal">×</button>
                <h3 class="modal-title" id="myModalLabel">Modal title</h3>
            </div>
            <div class="modal-body" id="myModal3-body">
                <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Fechar</button>
            </div>
        </div>
    </div>
</div>
<!-- /Modal Anexos -->

<!-- FileUpload -->
<link href="~/Content/css/jquery.fileupload.css" rel="stylesheet" />
<script src="~/Scripts/fileUpload/jquery.ui.widget.js"></script>
<script src="~/Scripts/fileUpload/jquery.fileupload.js"></script>

<script>
    $(document).ready(function () {
        FileUpload2('fileupload1', 'File1ID', 'progress1', 'file_name1', 'myModal1', 'arq1', 'trash1', 'NomeOriginal1');
        FileUpload2('fileupload2', 'File2ID', 'progress2', 'file_name2', 'myModal2', 'arq2', 'trash2', 'NomeOriginal2');
        FileUpload2('fileupload3', 'File3ID', 'progress3', 'file_name3', 'myModal3', 'arq3', 'trash3', 'NomeOriginal3');
    });
</script>
<!-- /FileUpload -->

<script>
    var _indice = -1;
    var _CondominoID;
    var _EdificacaoID;
    var _UnidadeID;
    var _FilaCondominoID = '@Model.FilaCondominoID';

    $('#ChamadoMotivoID').removeAttr('multiple');
    $('#FilaSolicitanteID').removeAttr('multiple');
    $('#FilaAtendimentoID').removeAttr('multiple');

    $(document).ready(function () {
        $('#summernote1').summernote({
            lang: 'pt-BR',
            height: 250,
            //toolbar: [
            //   // [groupName, [list of button]]
            //   ['style', ['bold', 'italic', 'underline', 'clear']],
            //   ['font', ['strikethrough', 'superscript', 'subscript']],
            //   ['fontsize', ['fontsize']],
            //   ['color', ['color']],
            //   ['para', ['ul', 'ol', 'paragraph']],
            //   ['height', ['height']]
            //]
        });
        $('#MensagemOriginal').html('@Model.MensagemOriginal');
        $('#summernote1').summernote('code', $('#MensagemOriginal').val());
    });

    function Valida() {
        $('#MensagemOriginal').val($('#summernote1').summernote('code'));
        $('#__EdificacaoID').val(_EdificacaoID);
        $('#__UnidadeID').val(_UnidadeID);
        $('#__CondominoID').val(_CondominoID);

        if ($('#Assunto').val() == "")
        {
            ShowMessageAjaxAlert('Assunto deve ser informado', 'warning');
            return false;
        }

        if ($('#ChamadoMotivoID').val() == "") {
            ShowMessageAjaxAlert('Motivo deve ser informado', 'warning');
            return false;
        }

        if ($('#FilaSolicitanteID').val() == "") {
            ShowMessageAjaxAlert('Solicitante deve ser informado', 'warning');
            return false;
        }

        if ($('#FilaAtendimentoID').val() == "") {
            ShowMessageAjaxAlert('Informar a fila para onde o chamado deverá ser encaminhado', 'warning');
            return false;
        }

        if ($('#MensagemOriginal').val() == "") {
            ShowMessageAjaxAlert('Mensagem deve ser informada', 'warning');
            return false;
        }

        if ($('#FilaSolicitanteID').val() == $('#FilaAtendimentoID').val()) {
            ShowMessageAjaxAlert('O chamado não pode ser encaminhado para a mesma fila do solicitante', 'warning');
            return false;
        }

        if ($('#FilaAtendimentoID').val() == _FilaCondominoID && (_EdificacaoID == '' || _UnidadeID == '' || _CondominoID == '')) {
            ShowMessageAjaxAlert('O condômino/unidade deve ser informado', 'warning');
            return false;
        }

        if ($('#FilaSolicitanteID').val() == _FilaCondominoID && (_EdificacaoID == '' || _UnidadeID == '' || _CondominoID == '')) {
            ShowMessageAjaxAlert('O condômino/unidade deve ser informado', 'warning');
            return false;
        }

        return true; 
    }

</script>