@using App_Dominio.Repositories
@using DWM.Models.Repositories
@model ChamadoViewModel
@{
    TransacaoRepository[] t = { new TransacaoRepository(), new TransacaoRepository() };
    t[0].url = "../Chamado/Browse";
    t[0].nomeCurto = "Incluir";
    t[0].referencia = "";

    t[1].url = "../Home/Default";

    string[] solicitante = Model.Solicitante.Split();

}

<div class="row">
    <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
        <div class="x_panel">
            @Html.EditorFor(info => Model, "FORMULARIO", new { Brand = "Chamado Nº " + Model.ChamadoID, Descricao = "", Transacao = t })
            <div class="x_content">
                <ul class="list-group">
                    <li class="list-group-item">
                        <h4><strong>Solicitante</strong></h4>
                        <h3>@(solicitante[0] + (solicitante.Length > 1 ? " " + solicitante[solicitante.Length-1] : ""))</h3>
                    </li>
                    <li class="list-group-item">
                        <h4><strong>Data</strong></h4>
                        @Model.DataChamado.ToString("dd/MM/yyyy HH:mm")h.
                    </li>
                    @if (Model.CondominoID.HasValue)
                    {
                        <li class="list-group-item">
                            <h4><strong>Condômino</strong></h4>
                            @Model.NomeCondomino
                            <small class="text-enfatico">@(Model.DescricaoEdificacao + " " + Model.UnidadeID)</small>
                        </li>
                    }
                    <li class="list-group-item">
                        <h4><strong>Motivo</strong></h4>
                        @Model.DescricaoChamadoMotivo
                    </li>
                    <li class="list-group-item">
                        <h4><strong>Situação</strong></h4>
                        <div id="_DescricaoChamadoStatus">@Model.DescricaoChamadoStatus</div>
                    </li>
                    <li class="list-group-item">
                        <h4><strong>Fila</strong></h4>
                        <div id="_DescricaoFilaAtendimento">@(Model.DescricaoFilaAtendimento + " " + Model.DataRedirecionamento.ToString("dd/MM/yyyy HH:mm")) h.</div>
                    </li>
                    <li class="list-group-item">
                        <h4><strong>Responsável</strong></h4>
                        @if (!String.IsNullOrEmpty(Model.NomeUsuarioFila))
                        {
                            <div id="_Responsavel">@Model.NomeUsuarioFila</div>
                        }
                        else
                        {
                            <div id="_Responsavel" class="text-enfatico">Nenhum responsável vinculado</div>
                        }
                        @if (!Model.IsCondomino && Model.IsUsuarioFila)
                        {
                            <div id="div-responsavel">
                                @Html.Partial("_Responsavel", Model)
                            </div>
                        }
                    </li>
                </ul>
            </div>
        </div>
        <div class="x_panel">
            @Html.EditorFor(info => Model, "FORMULARIO", new { Brand = "Anexos", Descricao = "", Transacao = t })
            <div class="x_content">
                <div id="div-anexo">
                    @Html.Partial("_Anexo", Model)
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5 col-lg-5 col-sm-12 col-xs-12">
        <div class="x_panel">
            @Html.EditorFor(info => Model, "FORMULARIO", new { Brand = Model.Assunto, Descricao = "", Transacao = t })
            <div class="x_content">
                <div class="row clear">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        @Html.Raw(Model.MensagemOriginal)
                    </div>
                </div>
                <div id="div-anotacao">
                    @Html.Partial("_Anotacao", Model)
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">

    </div>
</div>

<!-- FileUpload -->
<link href="~/Content/css/jquery.fileupload.css" rel="stylesheet" />
<script src="~/Scripts/fileUpload/jquery.ui.widget.js"></script>
<script src="~/Scripts/fileUpload/jquery.fileupload.js"></script>

<script>
    $(document).ready(function () {
        FileUpload2('fileupload1', 'File1ID', 'progress1', 'file_name1', 'myModal1', 'arq1', 'trash1', 'NomeOriginal1');
    });

</script>
