@using App_Dominio.Repositories
@model DWM.Models.Repositories.FilaAtendimentoViewModel
@{
    TransacaoRepository[] t = { new TransacaoRepository(), new TransacaoRepository() };
    t[0].url = "../FilaAtendimento/Create";
    t[0].nomeCurto = "Incluir";
    t[0].referencia = "";

    t[1].url = "../Home/Default";

    string _checked = Model.VisibilidadeCondomino == "S" ? "checked" : "";
    string _checkedForn = Model.IsFornecedor == "S" ? "checked" : "";
}
<!-- Switchery -->
<link href="../Content/vendors/switchery/dist/switchery.min.css" rel="stylesheet">

<div class="container-cadastro">
    @Html.Partial("_alerts")
    <div class="x_panel">
        @Html.EditorFor(info => Model, "FORMULARIO", new { Brand = "Fila de Atendimento", Descricao = "Excluir Fila de Atendimento. Não será permitido excluir uma fila se hover chamados vinculaos a ela.", Transacao = t })
        <div class="x_content">
            @using (Html.BeginForm("Delete", "FilaAtendimento", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.HiddenFor(info => info.CondominioID)
                @Html.HiddenFor(info => info.FilaAtendimentoID)
                @Html.HiddenFor(info => info.Descricao)
                @Html.HiddenFor(info => info.VisibilidadeCondomino)
                <div class="row">
                    <div class="col-md-6 col-xs-12 col-sm-12 col-lg-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Descricao, new { @class = "control-label" })
                            <input type="text" class="form-control" name="Descricao" id="Descricao" value="@Model.Descricao" maxlength="30" disabled />
                        </div>
                    </div>
                </div>
                <p>&nbsp;</p>
                <div class="row clearfix">
                    <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
                        <div class="form-group">
                            <label class="control-label">Interage c/ Condômino</label>
                            <label>
                                <input type="checkbox" class="js-switch" id="VisibilidadeCondomino" name="VisibilidadeCondomino" @_checked disabled /> Sim
                            </label>
                        </div>
                    </div>
                </div>
                <p>&nbsp;</p>
                <div class="row clearfix">
                    <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
                        <div class="form-group">
                            <label class="control-label">É Fornecedor</label>
                            <label>
                                <input type="checkbox" class="js-switch" id="IsFornecedor" name="IsFornecedor" @_checkedForn disabled /> Sim
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                </div>
                <div class="ln_solid"></div>
                <div class="row clearfix">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="submit" class="btn btn-danger" value="Excluir" name="btn-danger" id="btn-excluir" />
                            <input type="button" onclick="window.location = '../FilaAtendimento/Browse'" class="btn btn-default" value="Cancelar" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<!-- Switchery -->
<script src="../Content/vendors/switchery/dist/switchery.min.js"></script>



