@model Nullable<System.Decimal>

@{
    string _label = (string)ViewData["label"] ?? ViewData.ModelMetadata.DisplayName;
    string value = "";
    if (@ViewData["value"] != null)
    {
        value = ((Decimal)@ViewData["value"]).ToString("###,###,###,##0.00");
    }
    else
    {
        value = Model.HasValue ? @Model.Value.ToString("###,###,###,##0.00") : "";
    }
}

@if (ViewData["form"] == null)
{
    <div class="form-group">
        <label class="control-label" for="descricao">@_label</label>
        @Html.TextBox(String.Empty + "1", ViewData.TemplateInfo.FormattedModelValue, "{0:###,###,##0.00}", ViewData["htmlAttributes"])
        @Html.Hidden(String.Empty, ViewData.TemplateInfo.FormattedModelValue)
    </div>
}
else
{
    <div class="form-group">
        <label class="col-md-6">@_label</label>
        <div class="col-md-6">
            @if (ViewData["javascriptFunction"] != null && ViewData["javascriptFunction"] != "")
            {
                <input class="form-control input-sm text-right" id="@ViewData["identificador"]" name="@ViewData["identificador"]" type="text" value="@value" onblur="@ViewData["javascriptFunction"]">
            }
            else
            {
                <input class="form-control input-sm text-right" id="@ViewData["identificador"]" name="@ViewData["identificador"]" type="text" value="@value">
            }
        </div>
    </div>
}

