@model System.Web.Mvc.PagedList<DWM.Models.Repositories.GrupoCondominoViewModel>

@{
    Layout = null;
}
@if (Model != null)
{
    <div class="dashboard-widget-content">
        <div class="col-md-5">
            Clique nos botões de <code>Ação</code> para executar a ação desejada
        </div>
        <div class="col-md-1">
            <a href="../GrupoCondomino/Create" class="text-primary">Incluir</a>
        </div>
        <div class="col-md-offset-9 col-lg-offset-9 col-xs-offset-7">
            @Html.Partial("Filtro")
        </div>
        <div class="table-responsive">
            <table class="table table-striped jambo_table bulk_action">
                <thead>
                    <tr class="headings">
                        <th class="col-md-2 column-title text-center nobr">Ação</th>
                        <th class="column-title">Descrição</th>
                        <th class="column-title">Objetivo</th>
                        <th class="column-title text-center">Privativo da Administração</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (DWM.Models.Repositories.GrupoCondominoViewModel gru in Model)
                    {
                        <tr class="even pointer">
                            <td class="text-center">
                                <a href="Edit?GrupoCondominoID=@gru.GrupoCondominoID" title="Editar"><i class="fa fa-edit fa-2x"></i></a>&nbsp;
                                <a href="Delete?GrupoCondominoID=@gru.GrupoCondominoID" title="Excluir"><i class="fa fa-trash fa-2x"></i></a>
                            </td>
                            <td>
                                <span>@gru.Descricao</span>
                            </td>
                            <td>
                                <span>@gru.Objetivo</span>
                            </td>
                            <td class="text-center">
                                @if (gru.PrivativoAdmin == "S")
                                {
                                    <span class="label label-default">Sim</span>
                                }
                                else
                                {
                                    <span>Não</span>
                                }
                                
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @Html.Partial("Paginacao", Model)
    </div>
}
else
{
    @Html.Partial("_AcessoNegadoModal")
}



