@using DWM.Models.Repositories
@model CondominoEditViewModel
@{
    Layout = null;
}

@if(Model != null)
{
    if (Model.Credenciados.Count() > 0)
    {
        <div class="x_panel">
            <div class="x_title">
                <h2>Credenciados <small>Lstagem de usuários incluídos pelo condômino.</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#">Buscar</a>
                            </li>
                            <li>
                                <a href="#">Imprimir</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="~/Condomino/Browse" class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>E-mail</th>
                            <th>Tipo</th>
                            <th>Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int contador = 0;
                            foreach (CredenciadoViewModel cre in Model.Credenciados)
                            {
                                <tr>
                                    @Html.Hidden("obs" + contador.ToString(), cre.Observacao)
                                    <td><small>@cre.Nome</small></td>
                                    <td><small>@cre.Email</small></td>
                                    <td><small>@cre.DescricaoTipoCredenciado</small></td>
                                    <th scope="row">
                                        <a href="#" title="Editar" onclick="Edit('@cre.CondominoID', '@cre.CredenciadoID', '@cre.UsuarioID', '@cre.Nome', '@cre.Email', '@cre.TipoCredenciadoID', '@cre.Sexo', '@contador')"><i class="fa fa-edit"></i></a>
                                        <a href="#" title="Excluir" onclick="Del(@cre.CondominoID, @cre.CredenciadoID)"><i class="fa fa-trash"></i></a>
                                    </th>
                                </tr>
                                contador++;
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }

    using (Ajax.BeginForm("EditCredenciado", "Condomino", new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "div-credenciado" }, new { @class = "form", @id = "form002", @name = "form002" }))
    {
        <div class="x_panel">
            <div class="x_title">
                <h2 id="header-credenciado">Novo credenciado <small>Inclusão de novo usuário.</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#">Buscar</a>
                            </li>
                            <li>
                                <a href="#">Imprimir</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="~/Condomino/Browse" class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                @Html.Partial("_alerts")
                @Html.ValidationSummary("", new { @class = "text-danger" })
                @Html.HiddenFor(info => info.CredenciadoViewModel.CondominoID)
                @Html.HiddenFor(info => info.CredenciadoViewModel.CredenciadoID)
                @Html.HiddenFor(info => info.CredenciadoViewModel.UsuarioID)
                <div class="row">
                    <div class="col-md-6 col-xs-12 col-sm-12 col-lg-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.CredenciadoViewModel.Nome, new { @class = "control-label" })
                            <input type="text" class="form-control" name="CredenciadoViewModel.Nome" id="CredenciadoViewModel_Nome" value="@Model.CredenciadoViewModel.Nome" maxlength="30" />
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12 col-sm-12 col-lg-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.CredenciadoViewModel.Email, new { @class = "control-label" })
                            <input type="text" class="form-control" name="CredenciadoViewModel.Email" id="CredenciadoViewModel_Email" value="@Model.CredenciadoViewModel.Email" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-xs-12 col-sm-12 col-lg-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.CredenciadoViewModel.TipoCredenciadoID, new { @class = "control-label" })
                            @Html.DropDownListFor(m => m.CredenciadoViewModel.TipoCredenciadoID, new DWM.Models.Enumeracoes.BindDropDownList().TipoCredenciados("", Model.CredenciadoViewModel.TipoCredenciadoID.ToString()), new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12 col-sm-12 col-lg-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.CredenciadoViewModel.Sexo, new { @class = "control-label" })
                            @Html.DropDownListFor(m => m.CredenciadoViewModel.Sexo, App_Dominio.Enumeracoes.DropDownListEnum.Sexo(Model.CredenciadoViewModel.Sexo, ""), new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
                        <div class="form-group">
                            @Html.LabelFor(m => m.CredenciadoViewModel.Observacao, new { @class = "control-label" })
                            <textarea class="form-control" cols="0" rows="4" name="CredenciadoViewModel.Observacao" id="CredenciadoViewModel_Observacao" value="@Model.CredenciadoViewModel.Observacao"></textarea>
                            @*@Html.TextAreaFor(m => m.CredenciadoViewModel.Observacao, 4, 0, new { @class = "form-control", @maxlength = "30" })*@
                        </div>
                    </div>
                </div>
                <p>&nbsp;</p>
                <div class="row clearfix">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="submit" class="btn btn-success" value="Salvar" name="btn-salvar-credenciado" id="btn-salvar-credenciado" />
                            <input type="button" onclick="window.location = '../Condomino/Browse'" class="btn btn-default" value="Cancelar" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}
else
{
    @Html.Partial("_AcessoNegadoModal")
}


<script type="text/javascript">
    $(function () {
        $('#form002').submit(function () {
            if ($(this).valid()) {
                $.ajax({
                    url: this.action,
                    type: this.method,
                    data: $(this).serialize(),
                    success: function (result) {
                        $('#div-credenciado').html(result);
                    }
                });
            }
            return false;
        });
    });

    function Edit(CondominoID, CredenciadoID, UsuarioID, Nome, Email, TipoCredenciadoID, Sexo, contador) {
        var obs = $("#obs" + contador).val();

        $("#CredenciadoViewModel_Nome").val(Nome);
        $("#CredenciadoViewModel_Email").val(Email);
        $("#CredenciadoViewModel_TipoCredenciadoID").val(TipoCredenciadoID);
        $("#CredenciadoViewModel_Sexo").val(Sexo);
        $("#CredenciadoViewModel_Observacao").val(obs);
        $("#CredenciadoViewModel_UsuarioID").val(UsuarioID);
        $("#CredenciadoViewModel_CredenciadoID").val(CredenciadoID);
        $("#CredenciadoViewModel_CondominoID").val(CondominoID);
    }

</script>