@using DWM.Models.Repositories
@model CondominoPFViewModel
@{
    Layout = null;
}
@using (Ajax.BeginForm("EditCondomino", "Condomino", new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "div-condomino-cad" }, new { @class = "form", @id = "form001", @name = "form001" }))
{
    <!-- bootstrap-wysiwyg -->
    <div class="x_panel">
        <div class="x_title">
            <h2>Cadastro <small>Edição do cadastro do condômino.</small></h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="#">Buscar</a>
                        </li>
                        <li>
                            <a href="#">Imprimir</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="~/Condomino/Browse" class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            @Html.Partial("_alerts")
            @Html.ValidationSummary("", new { @class = "text-danger" })
            @Html.HiddenFor(info => info.CondominioID)
            @Html.HiddenFor(info => info.CondominoID)
            <div class="row">
                <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Nome, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Nome, new { @class = "form-control", @maxlength = "40" })
                    </div>
                </div>
                <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-6 col-xs-12 col-sm-12 col-lg-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.IndFiscal, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.IndFiscal, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-6 col-xs-12 col-sm-12 col-lg-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.IndSituacao, new { @class = "control-label" })
                        @Html.DropDownList("IndSituacao", App_Dominio.Enumeracoes.DropDownListEnum.Situacao("A", Model.IndSituacao), new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-6 col-xs-12 col-sm-12 col-lg-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.TelParticular1, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.TelParticular1, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-6 col-xs-12 col-sm-12 col-lg-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.TelParticular2, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.TelParticular2, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-6 col-xs-12 col-sm-12 col-lg-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Sexo, new { @class = "control-label" })
                        @Html.DropDownList("Sexo", App_Dominio.Enumeracoes.DropDownListEnum.Sexo("M", ""), new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-6 col-xs-12 col-sm-12 col-lg-6">
                    <div class="control-group">
                        @Html.LabelFor(m => m.DataNascimento, new { @class = "control-label" })
                        @Html.Editor("data1", "DATE", new { identificador = "DataNascimento", value = Model.DataNascimento.HasValue ? Model.DataNascimento.Value : DateTime.Today, readOnly = "false" })
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-6 col-xs-12 col-sm-12 col-lg-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.IndProprietario, new { @class = "control-label" })
                        @Html.DropDownList("IndProprietario", App_Dominio.Enumeracoes.DropDownListEnum.SimNao("S", ""), new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-6 col-xs-12 col-sm-12 col-lg-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.IndAnimal, new { @class = "control-label" })
                        @Html.DropDownList("IndAnimal", App_Dominio.Enumeracoes.DropDownListEnum.SimNao("N", ""), new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
                    <div class="form-group">
                        <label class="control-label">Profissão/Ocupação</label>
                        @Html.DropDownList("ProfissaoID", new DWM.Models.Enumeracoes.BindDropDownList().Profissoes("", ""), new { @class = "form-control" })
                    </div>
                </div>
            </div>
            @*<div class="ln_solid"></div>*@
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="form-group">
                        <label class="control-label">Observação</label>
                        @Html.TextAreaFor(info => info.Observacao, 5, 1, new { @class = "form-control" })
                    </div>

                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-12">
                    <div class="form-group">
                        <input type="submit" class="btn btn-success" value="Salvar" name="btn-salvar-condomino" id="btn-salvar-condomino" />
                        <input type="button" onclick="window.location = '../Condomino/Browse'" class="btn btn-default" value="Cancelar" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    $(function () {
        $('#form001').submit(function () {
            if ($(this).valid()) {
                $.ajax({
                    url: this.action,
                    type: this.method,
                    data: $(this).serialize(),
                    success: function (result) {
                        $('#div-condomino-cad').html(result);
                    }
                });
            }
            return false;
        });
    });

    $("#IndFiscal").mask("999.999.999-99");
    $("#TelParticular1").mask("(99)9999?9-9999");
    $("#TelParticular2").mask("(99)9999?9-9999");

</script>
