@using DWM.Models.Repositories
@model CondominoEditViewModel
@{
    ViewBag.Title = "DWM-Condomínios";
}
<div class="container-fluid">
    <div class="page-title">
        <div class="title_left">
            <h3>
                @Model.CondominoPFViewModel.Nome
                <small>
                    @(Model.UnidadeViewModel.EdificacaoDescricao + " " + Model.UnidadeViewModel.UnidadeID)
                </small>
                <span class="pull-right">@Model.CondominoPFViewModel.DataCadastro.ToString("dd/MM/yyyy")</span>
            </h3>
        </div>
    </div>
    <div class="clearfix"></div>
    <br />
    <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div id="div-condomino-cad">
                @Html.Partial("EditCondomino", Model.CondominoPFViewModel)
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div id="div-credenciado">
                @Html.Partial("_Credenciado", Model)
            </div>
        </div>
    </div>
</div>

