@using App_Dominio.Models
@using App_Dominio.Repositories
@using DWM.Models.Repositories
@model CondominoViewModel
@{
    Layout = null;
    TransacaoRepository[] t = { new TransacaoRepository(), new TransacaoRepository() };
    t[0].url = "../Condomino/Browse";
    t[0].nomeCurto = "Incluir";
    t[0].referencia = "";

    t[1].url = "../Home/Default";

    DWM.Models.Entidades.SessaoLocal s = (DWM.Models.Entidades.SessaoLocal)ViewBag.SessaoLocal;
    string Disabled = "";
}
<div class="x_panel">
    @Html.EditorFor(info => Model, "FORMULARIO", new { Brand = "Cadastro", Descricao = Model.DataCadastro.ToString("dd/MM/yyyy"), Transacao = t })
    <div class="x_content">
        @using (Ajax.BeginForm("EditCondomino", "Condomino", new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "div-condomino-cad" }, new { @class = "form", @id = "form001" }))
        {
            @Html.Partial("_alerts")
            @*@Html.ValidationSummary("", new { @class = "text-danger" })*@
            @Html.HiddenFor(info => info.CondominioID)
            @Html.HiddenFor(info => info.CondominoID)
            @Html.HiddenFor(info => info.DataCadastro)
            @Html.Hidden("usuarioId", Model.UsuarioViewModel.usuarioId)
            <div class="row">
                <div class="col-md-2 col-lg-2 hidden-xs">
                    <span class="img-responsive">
                        <img src="@Model.UsuarioViewModel.Avatar("106")" alt="..." class="profile_img margem-topo-20">
                    </span>
                </div>
                <div class="col-md-10 col-lg-10 col-xs-12 col-sm-12">
                    <div class="row clearfix">
                        <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Nome, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.Nome, new { @class = "form-control", @maxlength = "40" })
                            </div>
                        </div>
                        <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                @if (Model is CondominoPFViewModel)
                {
                    <div class="col-md-6 col-xs-12 col-sm-12 col-lg-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.IndFiscal, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.IndFiscal, new { @class = "form-control" })
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-md-6 col-xs-12 col-sm-12 col-lg-6">
                        <div class="form-group">
                            <label class="control-label">CNPJ</label>
                            <input type="text" id="cnpj" name="cnpj" class="form-control" value="@Model.IndFiscal" />
                        </div>
                    </div>
                }
                <div class="col-md-6 col-xs-12 col-sm-12 col-lg-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.IndSituacao, new { @class = "control-label" })
                        @if (s.CondominoID > 0)
                        {
                            @Html.DropDownList("IndSituacao", App_Dominio.Enumeracoes.DropDownListEnum.Situacao(Model.IndSituacao), new { @class = "form-control", @Disabled = Disabled })
                            @Html.HiddenFor(info => info.IndSituacao)
                        }
                        else
                        {
                            @Html.DropDownList("IndSituacao", App_Dominio.Enumeracoes.DropDownListEnum.Situacao(Model.IndSituacao), new { @class = "form-control" })
                        }
                    </div>
                </div>
                <div class="col-md-6 col-xs-12 col-sm-12 col-lg-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.TelParticular1, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.TelParticular1, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-6 col-xs-12 col-sm-12 col-lg-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.TelParticular2, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.TelParticular2, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            if (Model is CondominoPFViewModel)
            {
                <div class="row clearfix">
                    <div class="col-md-6 col-xs-12 col-sm-12 col-lg-6">
                        <div class="form-group">
                            @Html.LabelFor(m => ((CondominoPFViewModel)m).Sexo, new { @class = "control-label" })
                            @Html.DropDownList("Sexo", App_Dominio.Enumeracoes.DropDownListEnum.Sexo("M", ""), new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12 col-sm-12 col-lg-6">
                        <div class="control-group">
                            @Html.LabelFor(m => ((CondominoPFViewModel)m).DataNascimento, new { @class = "control-label" })
                            <input type="date" class="form-control" name="DataNascimento" id="DataNascimento" value="@(((CondominoPFViewModel)Model).DataNascimento.HasValue ? ((CondominoPFViewModel)Model).DataNascimento.Value.Date.ToString("yyyy-MM-dd") : "")" max="@Funcoes.Brasilia().Date.ToString("yyyy-MM-dd")" />
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-md-6 col-xs-12 col-sm-12 col-lg-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.IndProprietario, new { @class = "control-label" })
                            @Html.DropDownList("IndProprietario", App_Dominio.Enumeracoes.DropDownListEnum.SimNao("S", ""), new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12 col-sm-12 col-lg-6">
                        <div class="form-group">
                            @Html.LabelFor(m => ((CondominoPFViewModel)m).IndAnimal, new { @class = "control-label" })
                            @Html.DropDownList("IndAnimal", App_Dominio.Enumeracoes.DropDownListEnum.SimNao("N", ""), new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
                        <div class="form-group">
                            <label class="control-label">Profissão/Ocupação</label>
                            @Html.DropDownList("ProfissaoID", new DWM.Models.Enumeracoes.BindDropDownList().Profissoes("", ""), new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="row clearfix">
                    <div class="col-md-6 col-xs-12 col-sm-12 col-lg-6">
                        <div class="form-group">
                            <label class="control-label">Administrador</label>
                            <input type="text" id="administrador" name="administrador" maxlength="40" class="form-control" value="@(((CondominoPJViewModel)Model).Administrador)" />
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12 col-sm-12 col-lg-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.IndProprietario, new { @class = "control-label" })
                            @Html.DropDownList("IndProprietario", App_Dominio.Enumeracoes.DropDownListEnum.SimNao("S", ""), new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
                        <div class="control-group">
                            <label class="control-label">Atividade</label>
                            @Html.DropDownList("RamoAtividadeID", new DWM.Models.Enumeracoes.BindDropDownList().RamoAtividade("", ""), new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            }
            @*<div class="ln_solid"></div>*@
            <div class="row">
                <div class="col-md-12 col-lg-12 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Observação</label>
                        @Html.TextAreaFor(info => info.Observacao, 5, 1, new { @class = "form-control" })
                    </div>

                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-12">
                    <div class="form-group">
                        <input type="submit" class="btn btn-success" value="Salvar" name="btn-salvar-condomino" id="btn-salvar-condomino" onclick="$('#msg-salvando-cond').show()" />
                        <input type="button" onclick="window.location = '../Condomino/Browse'" class="btn btn-default" value="Cancelar" />
                        <span class="text-prateado" id="msg-salvando-cond">Salvando...</span>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script type="text/javascript">
    $('#msg-salvando-cond').hide()

    $(function () {
        $('#form001').submit(function () {
            if ($(this).valid()) {
                $.ajax({
                    url: this.action,
                    type: this.method,
                    data: $(this).serialize(),
                    success: function (result) {
                        $('#div-condomino-cad').html(result);
                    }
                });
            }
            return false;
        });
    });

    $("#cnpj").mask("99.999.999/9999-99");
    $("#IndFiscal").mask("999.999.999-99");
    $("#TelParticular1").mask("(99)9999?9-9999");
    $("#TelParticular2").mask("(99)9999?9-9999");

</script>
