@using DWM.Models.Repositories
@using App_Dominio.Repositories
@model UnidadeViewModel
@{
    TransacaoRepository[] t = { new TransacaoRepository(), new TransacaoRepository() };
    t[0].url = "../Condomino/Browse";
    t[0].nomeCurto = "Incluir";
    t[0].referencia = "";

    t[1].url = "../Home/Default";
}
<div class="container-cadastro">
    <div class="x_panel">
        @Html.EditorFor(info => Model, "FORMULARIO", new { Brand = "Enviar token", Descricao = "Envia e-mail para o condômino com o token de cadastro. Observação: O Token estará disponível por 48 horas.", Transacao = t })
        <div class="x_content">
            @using (Html.BeginForm("EnviarToken", "Condomino", FormMethod.Post, new { @class = "form" }))
            {
                @Html.Partial("_alerts")
                @Html.ValidationSummary("", new { @class = "text-danger" })
                @Html.HiddenFor(info => info.CondominioID)
                <div class="row">
                    <div class="col-md-4 col-xs-12 col-sm-12 col-lg-4">
                        <div class="form-group">
                            <label class="control-label">Nome</label>
                            <div class="input-group col-md-12 col-xs-12">
                                <input type="text" name="NomeCondomino" id="NomeCondomino" value="@Model.NomeCondomino" maxlength="60" class="form-control" placeholder="Informar nome completo do condômino" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12 col-sm-12 col-lg-4">
                        <div class="form-group">
                            <label class="control-label">E-mail</label>
                            <div class="input-group col-md-12 col-xs-12">
                                <input type="text" name="Email" id="Email" value="@Model.Email" class="form-control" placeholder="Informar e-mail do condômino" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-xs-12 col-sm-12">
                        <div class="form-group">
                            <label class="control-label">Edificação</label>
                            @Html.DropDownListFor(info => info.EdificacaoID, new DWM.Models.Enumeracoes.BindDropDownList().Edificacoes("Selecione...", "", Model.CondominioID), new { @class = "form-control", @onchange = "GetSelectListOnCascade('EdificacaoID','UnidadeID', 'CondominioID')" })
                        </div>
                    </div>
                    <div class="col-md-2 col-xs-12 col-sm-12">
                        <div class="form-group">
                            <label class="control-label">Unidade</label>
                            @Html.DropDownListFor(info => info.UnidadeID, new DWM.Models.Enumeracoes.BindDropDownList().Unidades("Selecione...", "", 0, Model.CondominioID), new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <p>
                    <input type="submit" class="btn btn-success" value="Enviar" name="btn-enviar-token" id="btn-enviar-token" />
                    <input type="button" onclick="window.location = '../Home/Default'" class="btn btn-default" value="Cancelar" />
                </p>
            }
        </div>
    </div>
</div>

