@using App_Dominio.Repositories
@using DWM.Models.Repositories
@model PagedList<CondominoUnidadeViewModel>
@{
    TransacaoRepository[] t = { new TransacaoRepository(), new TransacaoRepository() };
    t[0].url = "../Condomino/Browse";
    t[0].nomeCurto = "Incluir";
    t[0].referencia = "";

    t[1].url = "../Home/Default";
    string TipoPessoa = "PF";
}
<!-- Datatables -->
<link href="../Content/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">

@if (Model != null)
{
    <div class="x_panel hidden-xs">
        @Html.EditorFor(info => Model, "FORMULARIO", new { Brand = "Ativar/Desativar Cadastro do Condômino", Descricao = "", Transacao = t })
        <div class="x_content hidden-xs">
            <div id="div-condomino-pf">
                <div class="row clearfix">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <table id="datatable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th class="column-title">Nome </th>
                                    <th class="column-title">@ViewBag.TipoEdificacao</th>
                                    <th class="column-title">Unidade </th>
                                    <th class="column-title">Telefone </th>
                                    <th class="column-title">E-mail </th>
                                    <th class="column-title">Data </th>
                                    <th class="column-title no-link last text-center">
                                        <span class="nobr">Ação</span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (CondominoUnidadeViewModel value in Model)
                                {
                                    TipoPessoa = (value.CondominoViewModel.discriminator == "CondominoPF") ? "PF" : "PJ";
                                    <tr class="even pointer">
                                        <td>@value.CondominoViewModel.Nome</td>
                                        <td>@value.EdificacaoDescricao </td>
                                        <td>@value.Codigo</td>
                                        <td>@App_Dominio.Models.Funcoes.FormataTelefone(value.CondominoViewModel.TelParticular1)</td>
                                        <td>@value.CondominoViewModel.Email</td>
                                        <td>@value.CondominoViewModel.DataCadastro.ToString("dd/MM/yyyy")</td>
                                        <td class="text-center">
                                            <a href="~/Condomino/Index?id=@(value.CondominoID)&EdificacaoID=@(value.EdificacaoID)&UnidadeID=@(value.UnidadeID)&TipoPessoa=@(TipoPessoa)" title="Editar"><i class="fa fa-2x fa-edit"></i></a>&nbsp;
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    @Html.Partial("_AcessoNegadoModal")
}

<!-- Datatables -->
<script src="../Content/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="../Content/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<!-- Datatables -->
<script>
      $(document).ready(function() {
        $('#datatable').DataTable({
            "lengthMenu": [[15, 25, 50, -1], [15, 25, 50, "Todos"]],
            "language": {
                "url": "../Scripts/DataTablePtBr.txt"
            }
        });
      });
</script>
<!-- /Datatables -->

