@using DWM.Models.Repositories
@model IEnumerable<CondominoUnidadeViewModel>
@{
    Layout = null;
}

<!-- Datatables -->
<link href="../Content/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">

@if (Model != null)
{
    <div class="row clearfix">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="table-responsive">
                <table id="datatable" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th class="column-title">Nome </th>
                            <th class="column-title">Edificação </th>
                            <th class="column-title">Unidade </th>
                            <th class="column-title">Telefone </th>
                            <th class="column-title">E-mail </th>
                            <th class="column-title">Data </th>
                            <th class="column-title no-link last text-center">
                                <span class="nobr">Ação</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (CondominoUnidadeViewModel value in Model)
                        {
                            <tr class="even pointer">
                                <td>@value.CondominoViewModel.Nome</td>
                                <td>@value.EdificacaoDescricao </td>
                                <td>@value.UnidadeID</td>
                                <td>@App_Dominio.Models.Funcoes.FormataTelefone(value.CondominoViewModel.TelParticular1)</td>
                                <td>@value.CondominoViewModel.Email</td>
                                <td>@value.CondominoViewModel.DataCadastro.ToString("dd/MM/yyyy")</td>
                                @if ((int)ViewBag.CondominoID == 0)
                                {
                                    <td class="text-center">
                                        <a href="~/Condomino/Index?id=@(value.CondominoID)&EdificacaoID=@(value.EdificacaoID)&UnidadeID=@(value.UnidadeID)" title="Editar"><i class="fa fa-edit"></i></a>&nbsp;
                                        <a href="~/Condomino/Append?CondominoID=@(value.CondominoID)" title="Adicionar unidade ao condômino"><i class="fa fa-plus-circle"></i></a>&nbsp;
                                        <a href="~/Condomino/Desativar?CondominioID=@(value.CondominioID)&EdificacaoID=@(value.EdificacaoID)&UnidadeID=@(value.UnidadeID)&CondominoID=@(value.CondominoID)" title="Desativar condômino da unidade"><i class="fa fa-trash"></i></a>
                                    </td>
                                }
                                else
                                {
                                    <td class="text-center">
                                        <a href="~/Condomino/Index?id=@(value.CondominoID)&EdificacaoID=@(value.EdificacaoID)&UnidadeID=@(value.UnidadeID)" title="Editar"><i class="fa fa-2x fa-edit"></i></a>&nbsp;
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
else
{
    @Html.Partial("_AcessoNegadoModal")
}


<!-- Datatables -->
<script src="../Content/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="../Content/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<!-- Datatables -->
<script>
      $(document).ready(function() {
        $('#datatable').DataTable({
            "lengthMenu": [[15, 25, 50, -1], [15, 25, 50, "Todos"]],
            "language": {
                "url": "../Scripts/DataTablePtBr.txt"
            }
        });
      });
</script>
<!-- /Datatables -->



