@using App_Dominio.Repositories
@using DWM.Models.Enumeracoes
@model DWM.Models.Repositories.LimpezaRequisitoViewModel
@{
    TransacaoRepository[] t = { new TransacaoRepository(), new TransacaoRepository() };
    t[0].url = "../LimpezaRequisito/Delete";
    t[0].nomeCurto = "Exclusão";
    t[0].referencia = "";

    t[1].url = "../Home/Default";
}
<div class="container-cadastro">
    @Html.Partial("_alerts")
    @Html.Partial("_AjaxAlert", "panel-top")
    <div class="x_panel">
        @Html.EditorFor(info => Model, "FORMULARIO", new { Brand = "Ítem de Limpeza", Descricao = "Exclusão de Ítem de Limpeza", Transacao = t })
        <div class="x_content">
            <!-- Smart Wizard -->
            @using (Html.BeginForm("Delete", "LimpezaRequisito", FormMethod.Post, new { @class = "form-horizontal margem-topo-20", @id = "form1" }))
            {
                @*@Html.ValidationSummary("", new { @class = "text-danger" })*@
                @Html.HiddenFor(info => info.LimpezaRequisitoID)
                @Html.HiddenFor(info => info.empresaId)
                @Html.HiddenFor(info => info.Descricao)
                @Html.HiddenFor(info => info.EspacoID)
                @Html.HiddenFor(info => info.Situacao)
                @Html.HiddenFor(info => info.CondominioID)

                <div class="row">
                    <div class="col-md-5 col-lg-5 col-xs-12">
                        <div class="form-group">
                            <label class="control-label">Descrição *</label>
                            <input type="text" class="form-control" name="Descricao" id="Descricao" value="@Model.Descricao" maxlength="60" disabled />
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xs-12">
                        <div class="form-group">
                            <label class="control-label">Área *</label>
                            @Html.DropDownList("EspacoID", new DWM.Models.Enumeracoes.BindDropDownList().Espacos("Selecione...", ""), new { @class = "form-control", @disabled = "disable" })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3 col-lg-3 col-xs-12">
                        <div class="form-group">
                            <label class="control-label">Situação *</label>
                            @Html.DropDownList("Situacao", new DWM.Models.Enumeracoes.BindDropDownList().SituacaoVisitante("Selecione...", ""), new { @class = "form-control", @disabled = "disable" })
                        </div>
                    </div>
                </div>

                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <input type="submit" value="Excluir" class="btn btn-danger" />
                        <input type="button" onclick="window.location = '../LimpezaRequisito/Browse'" class="btn btn-default" value="Cancelar" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>

